section.direkterkontakt
  @include pt-30 
  @include pb-30
  
  .wrapper
    .sctn_content
      text-align: left
      .item_1
        grid-column: 1/7
        max-height: 720px

        span.caption
          margin-top: 16px
          display: block
      
      .item_2
        grid-column: 8/-1

        form
          fieldset
            label
              width: 100%