section.in_numbers
	@include pt-30
	@include pb-30
	background: $blue-grey8

	.wrapper
		display: flex
		justify-content: space-around
		flex-wrap: wrap

		.topline
			width: 100%
			display: block

		.jahre, .mitarbeiter, .projekte
			text-align: center
			width: 33.33%
			p
				margin-bottom: 0

		.insta
			display: flex
			align-items: center
			flex-direction: column
			@include mt-20
			p
				@include mt-6
				margin-bottom: 0

html#unternehmen, html#karriere-berufserfahrene
	section.in_numbers
		.wrapper
			.insta
				display: none

@include s
	section.in_numbers
		.wrapper
			.jahre, .mitarbeiter, .projekte
				display: flex
				flex-direction: column
				align-items: center
				width: 100%

			.mitarbeiter
				@include mb-10
				@include mt-10
