form
  display: flex
  flex-wrap: wrap
  margin: 0 auto
  position: relative
  justify-content: space-between
  appearance: none

  span
    display: flex
    justify-content: flex-end
    width: 100%

    p
      margin: 0
      padding: 0

input, textarea, select, input:required
  border: solid 2px $blue-grey20
  background: $neutral0
  padding: .5rem
  transition: all ease .7s
  outline: none
  margin-top: .25rem
  border-radius: 0px
  appearance: none

.field_half
  display: flex
  flex-direction: column
  width: 48%
  color: $blue-grey80
  outline: none
  @include mb-8
  text-align: left
  @include small_regular

input:hover, textarea:hover, select:hover
  border: solid 2px $blue-grey30

.success
  grid-column: 3/11
  
.hidden
  display: none

input.invalid, textarea.invalid
  border: solid 2px $error

label.invalid
  span.error-message
    color: $error

span.error-message
  display: none
  text-align: left
  color: $error

input.invalid
  &:focus
    border: solid 2px $error

button.clear-file-button 
  display: none
  border: none
.clear-file-button::before
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_199_3015)'%3E%3Cpath d='M22.7082 3.17355H16.8435V2.17607C16.8435 1.59824 16.6239 1.05264 16.2254 0.64005C15.8269 0.227204 15.3002 0 14.7427 0H9.25729C8.69951 0 8.17286 0.227456 7.77458 0.640302C7.37606 1.05315 7.15674 1.59874 7.15674 2.17632V3.1738H1V4.98741H3.19781L3.74271 21.9547C3.759 22.5151 3.9771 23.0333 4.3569 23.4128C4.73572 23.7917 5.24293 24.0003 5.7849 24.0003H18.2144C18.7566 24.0003 19.2638 23.7917 19.6424 23.4128C20.0219 23.0333 20.2403 22.5151 20.2566 21.9539L20.8015 4.98766H22.9993V3.17355H22.7075H22.7082ZM8.90716 2.17607C8.90716 1.97935 9.0674 1.81335 9.25729 1.81335H14.7427C14.9324 1.81335 15.0928 1.97935 15.0928 2.17607V3.17355H8.90716V2.17607ZM18.4777 21.904V21.9091V21.9141C18.4777 22.0927 18.3308 22.1861 18.1859 22.1861H5.7849C5.6378 22.1861 5.51088 22.0587 5.49264 21.8947L4.94847 4.98715H19.0219L18.4775 21.904H18.4777Z' fill='%23628D33'/%3E%3Cpath d='M12.5839 18.3171H12.8757V18.0149V8.97707V8.6748H12.5839H11.4168H11.125V8.97707V18.0149V18.3171H11.4168H12.5839Z' fill='%23628D33'/%3E%3Cpath d='M9.08389 18.3171H9.37566V18.0149V8.97707V8.6748H9.08389H7.91678H7.625V8.97707V18.0149V18.3171H7.91678H9.08389Z' fill='%23628D33'/%3E%3Cpath d='M16.0839 18.3171H16.3757V18.0149V8.97707V8.6748H16.0839H14.9168H14.625V8.97707V18.0149V18.3171H14.9168H16.0839Z' fill='%23628D33'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_199_3015'%3E%3Crect width='22' height='24' fill='white' transform='translate(1)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
  width: 24px
  height: 24px
  display: block
  position: relative

  
//input:not(:focus):not(:placeholder-shown):invalid ~ span.error-message
  //display: block

input:focus-visible, textarea:focus-visible, select:focus-visible,
input:focus, textarea:focus, select:focus
  border: solid 2px $blue-grey40
  outline: none
  color: $red50

textarea
  min-height: 160px
  width: 100%

fieldset
  padding: 0
  border: none
  width: 100%
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  align-items: baseline

fieldset.client_contact
  label

fieldset.message
  @include mb-8
  label
    width: 100%
    text-align: left

fieldset.privacy
  display: flex
  align-items: center
  @include mb-8

  .datenschutz-checkbox
    display: flex
    flex-wrap: wrap
    p 
      margin-bottom: 0
  
    span.error-message
      width: 100%

  label[for="datenschutz"]
    //flex-direction: row
    width: auto
    flex-wrap: nowrap
    display: none
    

  input#datenschutz[type=checkbox]:checked::before 
    content: url('data:image/svg+xml,<svg width="23" height="17" viewBox="0 0 23 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 7.90909L9.6 15L21 2" stroke="%23CB0B0F" stroke-width="2" stroke-linecap="square"/></svg>')
    position: relative
    width: 24px
    height: 24px
    top: -1px
    left: 1px




input[type="checkbox"]
  height: 32px
  width: 32px
  margin-right: 16px
  margin-top: 0
  display: grid
  place-content: center
  
  label
    width: 100%
    display: flex
    flex-wrap: wrap
    flex-direction: row
    align-items: center
    p
      margin-bottom: 0
      width: auto

    span.error-message
      width: 100%


input.radio
  width: 32px
  height: 32px
  border-radius: 50%
  display: block
  margin-right: 16px
  &:checked
    &::before
      content: ''
      width: 16px
      height: 16px
      border-radius: 50%
      background: $red50
      position: relative
      display: block
      top: 6px
      left: 6px

span.ansprache
  display: flex
  //align-items: center
  justify-content: flex-start
  flex-wrap: wrap
  align-items: flex-end
  @include mb-8

  label
    display: flex
    align-items: center
    flex-direction: row
    width: auto
    margin-right: 32px
    input
      margin: 0 16px 0 0

fieldset.files
  ul.fileUpload_fields
    width: 100%
    @include mb-8
    li 
      display: flex
      align-items: center
      justify-content: space-between
      width: 100%
      flex-wrap: wrap
      padding: 27px 0

      &::after
        content: ''
        height: 2px
        width: 100%
        background: $blue-grey20
        display: block
        position: relative
        bottom: -27px
      &:first-of-type
        padding-top: 0

      span
        width: 50% 
        justify-content: inherit
        text-align: left
      
      input 
        width: 40%
    

input[type="file"].fileUploadBtn
  cursor: pointer
  @include paragraph_regular
  border: none
  background: transparent
  width: 40%
  color: $blue-grey50
  &::file-selector-button
    margin-right: 16px
    padding: 10px 16px 10px 16px
    cursor: pointer
    @include paragraph_regular
    box-sizing: border-box
    appearance: none !important
    border: solid 2px
    background: transparent
    transition: border-color ease .7s
    will-change: border-color
    position: relative
    z-index: 90
    border-color: $green50
    color: $red50

@include s
  .field_half
    width: 100%

  fieldset.files
    ul.fileUpload_fields
      li 
        span, input
          width: 100%