---
title: Karriere Ausbildung Stellenanzeige
layout: "layouts/base.njk"

seoTitle: Karriere Ausbildung Stellenanzeige - {{ ausschreibung_ausbildung }}
seoDescription: Mit einer Ausbildung bei Zimmern legst Du den Grundstein für Dein Berufsleben. Du lernst Schritt für Schritt alles, was für Deinen zukünftigen Beruf relevant ist.
metaImage: /stages/visual_stage_karriere_ausbildung_stellenanzeigen.jpg
---
<section class="detail_stage lax">

  <div class="wrapper">

    <div class="opener">
      <p data="fade-up" class="topline wht">Ausbildung</p>
      <h1 data="fade-up delay" class="wht">{{ ausschreibung_ausbildung }}</h1>

      <a id="scrollDown" class="scroll_down">
        <svg class="scroll__arrow" alt="Scroll to down">
          <use xlink:href="#scroll__arrow"></use>
        </svg>
      </a>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

  <div class="visual"></div>
  {% picture "/stages/visual_stage_karriere_ausbildung_stellenanzeigen.jpg", "Karriere Ausbildung – Zimmern Garten- und Landschaftsbau GmbH" %}

</section><!-- .header_stage -->


<section id="intro" class="intro bg8">

  <div class="wrapper">

    <div class="intro_content sxty">


      <p class="copy_intro" data="fade-up delay">
        Mit einer Ausbildung als {{ ausschreibung_ausbildung }} bei Zimmern legst Du den Grundstein für Dein Berufsleben. <br> Von Beginn an bist Du ein vollwertiges Teammitglied und lernst Schritt für Schritt alles, was für Deinen zukünftigen Beruf relevant ist.
      </p>

    </div><!-- .intro_content -->

  </div><!-- .wrapper -->

</section><!-- .intro -->


<section class="sctn leistungen_detail">

  <div class="wrapper">

    <div class="sctn_content">

      <h2 data="fade-up delay">Deine Tätigkeiten</h2>

      <ul data="fade-up delay" class="leistungen_detail__content grd">
        <li>
          Teilnahme an Berufsschule und Lehrgängen
        </li>
        <li>
          Wiederholungen und Aufgaben der Ausbildung mit der/dem Ausbilder*in zusammen
        </li>
        <li>
          Erlernen von Kenntnissen im Neubau, Botanik, Pflanzungen und Pflege
        </li>
        <li>
          Bedienen von Maschinen
        </li>
      </ul>

    </div><!-- .sctn_content -->

    <div class="sctn_content mt-20">

      <h2 data="fade-up delay">Was wir Dir bieten</h2>

      <ul data="fade-up delay" class="leistungen_detail__content grd">
        <li>
          Du arbeitest mit modernen Maschinen und Geräten – von klein bis groß
        </li>
        <li>
          Du arbeitest sowohl im Gartenneubau, als auch im Bereich der Pflanzenkunde in unserer direkt anliegenden Baumschule
        </li>
        <li>
          Du arbeitest in einem Team, das Dir stets zur Seite steht – so wie Du dem Team
        </li>
        <li>
          Du profitierst von jahrelange Erfahrung als Ausbildungsbetrieb
        </li>
      </ul>

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->

</section><!-- .gartenplanung -->


{% include "partials/kontakt_ausbildung_bewerbung.njk" %}

<section class="sctn direkterkontakt">

  <div class="wrapper">

    <div class="sctn_content grd">

      <div class="item_1">
        {% picture "portraits/portrait_peleikis-zimmern_julia_karriere.jpg", "Julia Peleikis-Zimmern – Zimmern Garten- und Landschaftsbau GmbH" %}
        <span class="caption"><strong>Julia Peleikis-Zimmern</strong>, zuständig für das Personalwesen, freut sich von Dir zu hören oder zu lesen.</span>
      </div>

      <div class="item_2">
        {% include "partials/direkterkontakt_ausbildung.njk" %}
      </div>

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->

</section><!-- .direkterkontakt -->
