---
title: Baumschule
permalink: /baumschule/
layout: "layouts/base.njk"

seoTitle: Baumschule
seoDescription:
metaImage:
---
<section class="detail_stage lax">

  <div class="wrapper">

    <div class="opener">
      <p class="topline wht">Baumschule</p>
      <h1 class="wht">Erst planen. Dann machen.</h1>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

  <div class="visual"></div>
  {% picture "baumschule.jpg", "Baumschule – Zimmern Garten und Landschaftsbau GmbH" %}

</section><!-- .header_stage -->


<section class="intro bg8">

  <div class="wrapper">

    <div class="intro_content sxty">

      <h2 data="fade-up">Vorausschauend geplant</h2>
      <p class="copy_intro" data="fade-up delay">
        Unsere Baumschule im Norden von Rissen ist in ca. 50 Jahren auf 9 ha Fläche angewachsen. Sie bietet Ihnen alle Gartengehölze. <br><br>Eine Besonderheit sind die in Form geschnittenen, immergrünen, winterharte Hochstammkugel-Bäume und bonsaiartige Gehölz sowie individuelle Solitärgehölze, Großbäume und Sichtschutzpflanzen, wie Rhododendron, Ilex, Eiben oder Kirschlorbeer.
      </p>

    </div><!-- .intro_content -->

  </div><!-- .wrapper -->

</section><!-- .intro -->


<section class="sctn gartenplanung">

  <div class="wrapper">

    <div class="sctn_content">

      <p data="fade-up" class="topline">Gartenplanung</p>
      <h2 data="fade-up delay">Ihre Vorteile im Überblick</h2>

      <ul data="fade-up delay" class="gp_detail__content grd">
        <li>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit
        </li>
        <li>
          Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu
        </li>
        <li>
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
        </li>
        <li>
          In enim justo, rhoncus ut, imperdiet a
        </li>
        <li>
          Donec quam felis, ultricies nec, pellentesque eu
        </li>
        <li>
          Nullam dictum felis eu pede mollis pretium. Integer tincidunt
        </li>
      </ul>

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->

</section><!-- .gartenplanung -->


{% include "partials/kontakt.njk"%}
{% include "partials/quicklinks.njk" %}
