---
title: Baumschule
permalink: /baumschule/
layout: "layouts/base.njk"

seoTitle: Baumschule
seoDescription:
metaImage:
---
<section class="detail_stage lax">

  <div class="wrapper">

    <div class="opener">
      <p class="topline wht">Baumschule</p>
      <h1 class="wht">Erst planen. Dann machen.</h1>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

  <div class="visual"></div>
  {% picture "/stages/visual_stage_leistungen_baumschule.jpg", "Baumschule – Zimmern Garten und Landschaftsbau GmbH" %}

</section><!-- .header_stage -->


<section class="intro bg8">

  <div class="wrapper">

    <div class="intro_content sxty">

      <h2 data="fade-up">Vorausschauend geplant</h2>
      <p class="copy_intro" data="fade-up delay">
        Unsere Baumschule im Norden von Rissen ist in ca. 50 Jahren auf 9 ha Fläche angewachsen. Sie bietet Ihnen alle Gartengehölze. <br><br>Eine Besonderheit sind die in Form geschnittenen, immergrünen, winterharte Hochstammkugel-Bäume und bonsaiartige Gehölz sowie individuelle Solitärgehölze, Großbäume und Sichtschutzpflanzen, wie Rhododendron, Ilex, Eiben oder Kirschlorbeer.
      </p>

    </div><!-- .intro_content -->

  </div><!-- .wrapper -->

</section><!-- .intro -->


<section class="sctn leistungen_detail">

  <div class="wrapper">

    <div class="sctn_content">

      <p data="fade-up" class="topline">Gartenplanung</p>
      <h2 data="fade-up delay">Ihre Vorteile im Überblick</h2>

      <ul data="fade-up delay" class="leistungen_detail__content grd">
        <li>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit
        </li>
        <li>
          Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu
        </li>
        <li>
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
        </li>
        <li>
          In enim justo, rhoncus ut, imperdiet a
        </li>
        <li>
          Donec quam felis, ultricies nec, pellentesque eu
        </li>
        <li>
          Nullam dictum felis eu pede mollis pretium. Integer tincidunt
        </li>
      </ul>

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->

</section><!-- .leistungen_detail -->




<section class="sctn gllry">
  <div class="wrapper">

    <div class="sctn_content">

      <h2 data="fade-up delay">Die Baumschule in Bildern</h2>

      <ul class="gllry__content grd">
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_baumschule_01.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_baumschule_01.jpg", "Baumschule in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_baumschule_02.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_baumschule_02.jpg", "Baumschule in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_baumschule_03.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_baumschule_03.jpg", "Baumschule in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_baumschule_04.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_baumschule_04.jpg", "Baumschule in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_baumschule_05.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_baumschule_05.jpg", "Baumschule in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_baumschule_06.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_baumschule_06.jpg", "Baumschule in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_baumschule_07.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_baumschule_07.jpg", "Baumschule in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_baumschule_08.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_baumschule_08.jpg", "Baumschule in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_baumschule_09.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_baumschule_09.jpg", "Baumschule in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_baumschule_10.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_baumschule_10.jpg", "Baumschule in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_baumschule_11.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_baumschule_11.jpg", "Baumschule in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_baumschule_12.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_baumschule_12.jpg", "Baumschule in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_baumschule_13.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_baumschule_13.jpg", "Baumschule in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_baumschule_14.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_baumschule_14.jpg", "Baumschule in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_baumschule_15.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_baumschule_15.jpg", "Baumschule in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_baumschule_16.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_baumschule_16.jpg", "Baumschule in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
      </ul>

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->
</section><!-- .gllry -->


{% include "partials/kontakt.njk"%}
{% include "partials/quicklinks.njk" %}

