---
title: Baumschule
permalink: /baumschule/
layout: "layouts/base.njk"

seoTitle: Baumschule
seoDescription: Unsere Baumschule im Norden von Rissen ist in ca. 50 Jahren auf 9 ha Fläche angewachsen. Sie bietet Ihnen alle Gartengehölze.
metaImage: /stages/visual_stage_leistungen_baumschule.jpg
---
<section class="detail_stage lax">

  <div class="wrapper">

    <div class="opener">
      <p class="topline wht">Leistungen</p>
      <h1 class="wht">Baumschule</h1>

      <a id="scrollDown" class="scroll_down">
        <svg class="scroll__arrow" alt="Scroll to down">
          <use xlink:href="#scroll__arrow"></use>
        </svg>
      </a>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

  <div class="visual"></div>
  {% picture "/stages/visual_stage_leistungen_baumschule.jpg", "Baumschule – Zimmern Garten- und Landschaftsbau GmbH" %}

</section><!-- .header_stage -->


<section id="intro" class="intro bg8">

  <div class="wrapper">

    <div class="intro_content sxty">

      <!--<h2 data="fade-up">Vorausschauend geplant</h2>-->
      <p class="copy_intro" data="fade-up delay">
        Unsere Baumschule im Norden von Rissen ist in ca. 50 Jahren auf 9 ha Fläche angewachsen. Sie bietet Ihnen alle Gartengehölze. <br><br>
        Eine Besonderheit sind die in Form geschnittenen, immergrünen, winterharten Hochstammkugel-Bäume und bonsaiartige Gehölz sowie individuelle Solitärgehölze, Großbäume und Sichtschutzpflanzen, wie Rhododendron, Ilex, Eiben oder Kirschlorbeer. <br><br>
        Aber machen Sie sich doch gerne selbst ein Bild von unserer Baumschule und besuchen Sie uns vor Ort. Einfach kurz anrufen, Termin vereinbaren und wir freuen uns auf Ihren Besuch.<br><br>
        Unsere <a href="#gllry" class="link">Galerie</a> gibt Ihnen einen Einblick in unsere Baumschule. Sollten Sie Fragen haben, freuen wir uns von Ihnen <a href="#contact" class="link">zu lesen</a>.
      </p>

    </div><!-- .intro_content -->

  </div><!-- .wrapper -->

</section><!-- .intro -->


<section class="sctn leistungen_detail">

  <div class="wrapper">

    <div class="sctn_content">

      <p data="fade-up" class="topline">Baumschule</p>
      <h2 data="fade-up delay">Unsere Leistung im Überblick</h2>

      <ul data="fade-up delay" class="leistungen_detail__content grd">
        <li>
          Baumschule auf 9 ha Fläche
        </li>
        <li>
          Auswahl aller Gartengehölze
        </li>
        <li>
          Großbäume
        </li>
        <li>
          In Form geschnittene, immergrüne, winterharte Hochstammkugel-Bäume
        </li>
        <li>
          Bonsaiartige Gehölze
        </li>
        <li>
          Individuelle Solitärgehölze
        </li>
        <li>
          Sichtschutzpflanzen, wie Rhododendron, Ilex, Eiben oder Kirschlorbeer
        </li>
      </ul>

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->

</section><!-- .leistungen_detail -->




<section class="sctn gllry" id="gllry">
  <div class="wrapper">

    <div class="sctn_content">

      <h2 data="fade-up delay">Baumschule in Bildern</h2>

      <ul class="gllry__content grd">
        <li class="oov baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_01.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_01.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_02.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_02.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_03.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_03.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_04.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_04.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_05.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_05.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_06.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_06.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_07.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_07.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_08.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_08.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_09.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_09.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_10.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_10.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_11.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_11.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_12.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_12.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_13.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_13.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_14.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_14.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_15.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_15.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_16.jpg" class="gllry__zoom" data-dimbox="gllry_baumschule" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_16.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
      </ul>

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->
</section><!-- .gllry -->


{% include "partials/kontakt.njk"%}
{% include "partials/quicklinks.njk" %}

