---
title: Baumpflege
permalink: /baumpflege/
layout: "layouts/base.njk"

seoTitle: Baumpflege
seoDescription:
metaImage:
---
<section class="detail_stage lax">

  <div class="wrapper">

    <div class="opener">
      <p class="topline wht">Baumpflege</p>
      <h1 class="wht">Erst planen. Dann machen.</h1>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

  <div class="visual"></div>
  {% picture "baumpflege.png", "Baumpflege – Zimmern Garten und Landschaftsbau GmbH" %}

</section><!-- .header_stage -->


<section class="intro bg8">

  <div class="wrapper">

    <div class="intro_content sxty">

      <h2 data="fade-up">Vorausschauend geplant</h2>
      <p class="copy_intro" data="fade-up delay">
        Kurzer Text zum Thema Gartenplanung lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. <br><br>
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
      </p>

    </div><!-- .intro_content -->

  </div><!-- .wrapper -->

</section><!-- .intro -->


<section class="sctn leistungen_detail">

  <div class="wrapper">

    <div class="sctn_content">

      <p data="fade-up" class="topline">Gartenplanung</p>
      <h2 data="fade-up delay">Ihre Vorteile im Überblick</h2>

      <ul data="fade-up delay" class="leistungen_detail__content grd">
        <li>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit
        </li>
        <li>
          Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu
        </li>
        <li>
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
        </li>
        <li>
          In enim justo, rhoncus ut, imperdiet a
        </li>
        <li>
          Donec quam felis, ultricies nec, pellentesque eu
        </li>
        <li>
          Nullam dictum felis eu pede mollis pretium. Integer tincidunt
        </li>
      </ul>

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->

</section><!-- .gartenplanung -->


{% include "partials/kontakt.njk"%}
{% include "partials/quicklinks.njk" %}
