---
title: Datenschutzerklärung
permalink: /datenschutz/
layout: "layouts/base.njk"

seoTitle: Datenschutz
seoDescription: Unsere Datenschutzerklärung
metaImage:
---
<section class="detail_stage lax bg8">

  <div class="wrapper">

    <div class="opener">
      <h1 data="fade-up">Datenschutz</h1>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

</section><!-- .header_stage -->

<section class="legal">
  <div class="wrapper grd">
    <div class="legal_content">
      <h2>Loren Ipsum</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      </p>
    </div><!-- .legal.content -->
  </div><!-- .wrapper -->

</section><!-- .legal -->
