---
title: Gartenneubau
permalink: /gartenneubau/
layout: "layouts/base.njk"

seoTitle: Gartenneubau
seoDescription:
metaImage:
---
<section class="detail_stage lax">

  <div class="wrapper">

    <div class="opener">
      <p class="topline wht">Leistungen</p>
      <h1 class="wht">Gartenneubau</h1>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

  <div class="visual"></div>
  {% picture "/stages/visual_stage_leistungen_gartenneubau.jpg", "Gartenneubau – Zimmern Garten und Landschaftsbau GmbH" %}

</section><!-- .header_stage -->


<section class="intro bg8">

  <div class="wrapper">

    <div class="intro_content sxty">

      <!--<h2 data="fade-up">Vorausschauend geplant</h2>-->
      <p class="copy_intro" data="fade-up delay">
        Bäume wollen gepflegt sein. Kurzum – wir kümmern uns um jegliche Arbeiten rund um Ihre Bäume. Denn dies ist eine unserer Kernkompetenzen. Von Wurzelbehandlungen/Wurzelschutz bis hin zu Kroneneinkürzungen und allem dazwischen. <br><br>
Wann immer möglich, arbeiten wir mit der sog. Seilklettertechnik. Mit Hilfe eines Klettergurtes und einem Kletterseil können wir uns dadurch frei im Baum bewegen. Somit kommen wir problemlos auch in die äußersten Spitzen der Krone. Diese Arbeitstechnik schont den Baum und ermöglicht ihm ein großes Maß an Regeneration.<br><br>
Und wenn nichts mehr geht, kümmern wir uns auch um Baum- und Gefahrenfällungen.<br><br>
Unsere <a href="#gllry" class="link">Galerie</a> gibt Ihnen einen Eindruck bereits realisierter Baumpflegearbeiten.Sollten Sie Fragen haben, freuen wir uns von Ihnen <a href="#contact" class="link">zu lesen</a>.
      </p>

    </div><!-- .intro_content -->

  </div><!-- .wrapper -->

</section><!-- .intro -->


<section class="sctn leistungen_detail">

  <div class="wrapper">

    <div class="sctn_content">

      <p data="fade-up" class="topline">Gartenneubau</p>
      <h2 data="fade-up delay">Unsere Leistung im Überblick</h2>

      <ul data="fade-up delay" class="leistungen_detail__content grd">
        <li>
          Steinarbeiten von Beton, Keramik bis hin zu Naturstein in jeglichen Größen
        </li>
        <li>
          Terrassenbau
        </li>
        <li>
          Wegeerschließung von Auffahrten und Gehwegen
        </li>
        <li>
          Bau von Stufenanlagen
        </li>
        <li>
          Mauerbau
        </li>
        <li>
          Zaunbau
        </li>
        <li>
          Gartengestaltung mit Findlingen
        </li>
      </ul>

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->

</section><!-- .gartenplanung -->

<section class="sctn gllry" id="gllry">
  <div class="wrapper">

    <div class="sctn_content">

      <h2 data="fade-up delay">Gartenneubau in Bildern</h2>

      <ul class="gllry__content grd">
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_01.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_01.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_02.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_02.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_03.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_03.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_04.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_04.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_05.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_05.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_06.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_06.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_07.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_07.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_08.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_08.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_09.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_09.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_10.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_10.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_11.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_11.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_12.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_12.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_13.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_13.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_14.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_14.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_15.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_15.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_16.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_16.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_17.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_17.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_18.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_18.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_19.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_19.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_20.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_20.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_21.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_21.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_22.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_22.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_23.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_23.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_24.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_24.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_25.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_25.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_26.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_26.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_27.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_27.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_28.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_28.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_29.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_29.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_30.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_30.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_31.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_31.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_32.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_32.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_33.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_33.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_34.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_34.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_35.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_35.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_36.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_36.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_37.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_37.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_38.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_38.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_39.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_39.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_40.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_40.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_41.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_41.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_42.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_42.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_43.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_43.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_44.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_44.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_45.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_45.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_46.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_46.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_47.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_47.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_48.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_48.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_49.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_49.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_50.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_50.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_51.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_51.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_52.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_52.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        
        
      </ul>

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->
</section><!-- .gllry -->


{% include "partials/kontakt.njk"%}
{% include "partials/quicklinks.njk" %}
