---
title: Gartenneubau
permalink: /gartenneubau/
layout: "layouts/base.njk"

seoTitle: Gartenneubau
seoDescription:
metaImage:
---
<section class="detail_stage lax">

  <div class="wrapper">

    <div class="opener">
      <p class="topline wht">Gartenneubau</p>
      <h1 class="wht">Erst planen. Dann machen.</h1>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

  <div class="visual"></div>
  {% picture "/stages/visual_stage_leistungen_gartenneubau.jpg", "Gartenneubau – Zimmern Garten und Landschaftsbau GmbH" %}

</section><!-- .header_stage -->


<section class="intro bg8">

  <div class="wrapper">

    <div class="intro_content sxty">

      <h2 data="fade-up">Vorausschauend geplant</h2>
      <p class="copy_intro" data="fade-up delay">
        Kurzer Text zum Thema Gartenplanung lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. <br><br>
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
      </p>

    </div><!-- .intro_content -->

  </div><!-- .wrapper -->

</section><!-- .intro -->


<section class="sctn leistungen_detail">

  <div class="wrapper">

    <div class="sctn_content">

      <p data="fade-up" class="topline">Gartenplanung</p>
      <h2 data="fade-up delay">Ihre Vorteile im Überblick</h2>

      <ul data="fade-up delay" class="leistungen_detail__content grd">
        <li>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit
        </li>
        <li>
          Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu
        </li>
        <li>
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
        </li>
        <li>
          In enim justo, rhoncus ut, imperdiet a
        </li>
        <li>
          Donec quam felis, ultricies nec, pellentesque eu
        </li>
        <li>
          Nullam dictum felis eu pede mollis pretium. Integer tincidunt
        </li>
      </ul>

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->

</section><!-- .gartenplanung -->

<section class="sctn gllry">
  <div class="wrapper">

    <div class="sctn_content">

      <h2 data="fade-up delay">Der Gartenneubau in Bildern</h2>

      <ul class="gllry__content grd">
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_01.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_01.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_02.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_02.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_03.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_03.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_04.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_04.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_05.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_05.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_06.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_06.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_07.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_07.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_08.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_08.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_09.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_09.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_10.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_10.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_11.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_11.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_12.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_12.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_13.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_13.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_14.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_14.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_15.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_15.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_16.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_16.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_17.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_17.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_18.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_18.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_19.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_19.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_20.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenneubau_20.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_21.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_21.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_22.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_22.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_23.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_23.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_24.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_24.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_25.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_25.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_26.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_26.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_27.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_27.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_28.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_28.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_29.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_29.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_30.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_30.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_31.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_31.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_32.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_32.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_33.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_33.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_34.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_34.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_35.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_35.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_36.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_36.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_37.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_37.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_38.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_38.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_39.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_39.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_40.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_40.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_41.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_41.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_42.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_42.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_43.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_43.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_44.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_44.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_45.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_45.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_46.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_46.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_47.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_47.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_48.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_48.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_49.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_49.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_50.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_50.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_51.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_51.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_52.jpg" class="gllry__zoom" data-dimbox="gllry_gartenneubau" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "//galleries/visual_gallery_gartenneubau_52.jpg", "Gartenneubau in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        
        
      </ul>

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->
</section><!-- .gllry -->


{% include "partials/kontakt.njk"%}
{% include "partials/quicklinks.njk" %}
