---
title: Gartenpflege
permalink: /gartenpflege/
layout: "layouts/base.njk"

seoTitle: Gartenpflege
seoDescription: Regelmäßig durchgeführte Pflege sorgt für tägliche Freude am Garten und geringeren Arbeits- und Kostenaufwand in der Zukunft.
metaImage: /stages/visual_stage_leistungen_gartenpflege.jpg
---
<section class="detail_stage lax">

  <div class="wrapper">

    <div class="opener">
      <p class="topline wht">Leistungen</p>
      <h1 class="wht">Gartenpflege</h1>

      <a id="scrollDown" class="scroll_down">
        <svg class="scroll__arrow" alt="Scroll to down">
          <use xlink:href="#scroll__arrow"></use>
        </svg>
      </a>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

  <div class="visual"></div>
  {% picture "/stages/visual_stage_leistungen_gartenpflege.jpg", "Gartenpflege – Zimmern Garten- und Landschaftsbau GmbH" %}

</section><!-- .header_stage -->


<section id="intro" class="intro bg8">

  <div class="wrapper">

    <div class="intro_content sxty">

      <!--<h2 data="fade-up">Vorausschauend geplant</h2>-->
      <p class="copy_intro" data="fade-up delay">
        Regelmäßig durchgeführte Pflege sorgt für tägliche Freude am Garten und geringeren Arbeits- und Kostenaufwand in der Zukunft. Geben Sie Arbeiten wie Rasenmähen, Hecken schneiden, Jäten, Standortverbesserungen, Nach- und Umpflanzungen, Pflanzenschutz durch Schädlings- u. Pilzbekämpfung, Neuanlage von Beeten oder Gartensegmenten in kompetente Hände.<br><br>
        Unsere <a href="#gllry" class="link">Galerie</a> zeigt Ihnen einige von uns gepflegte Gärten. Sollten Sie Fragen haben, freuen wir uns von Ihnen <a href="#contact" class="link">zu lesen</a>.
      </p>

    </div><!-- .intro_content -->

  </div><!-- .wrapper -->

</section><!-- .intro -->


<section class="sctn leistungen_detail">

  <div class="wrapper">

    <div class="sctn_content">

      <p data="fade-up" class="topline">Gartenpflege</p>
      <h2 data="fade-up delay">Unsere Leistung im Überblick</h2>

      <ul data="fade-up delay" class="leistungen_detail__content grd">
        <li>
          Erhaltungspflege von Rasenflächen bis zu hin zur Bepflanzung/Beetanlage
        </li>
        <li>
          Heckenschnitt
        </li>
        <li>
          Gehölzschnitt
        </li>
        <li>
          Formschnitt
        </li>
        <li>
          Abgestimmte Düngungen zur Erhaltung oder bei Mangelerscheinungen
        </li>
        <li>
          Vertikutieren
        </li>
      </ul>

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->

</section><!-- .gartenplanung -->

<section class="sctn gllry" id="gllry">
  <div class="wrapper">

    <div class="sctn_content">

      <h2 data="fade-up delay">Gartenpflege in Bildern</h2>

      <ul class="gllry__content grd">
        <li class="oov gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_04.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_04.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_05.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_05.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_06.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_06.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_07.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_07.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_08.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_08.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_09.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_09.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_10.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_10.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_11.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_11.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_12.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_12.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_13.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_13.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_18.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_18.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_20.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_20.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_21.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_21.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_22.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_22.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_23.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_23.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
      </ul>

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->
</section><!-- .gllry -->


{% include "partials/kontakt.njk"%}
{% include "partials/quicklinks.njk" %}
