---
title: Gartenpflege
permalink: /gartenpflege/
layout: "layouts/base.njk"

seoTitle: Gartenpflege
seoDescription:
metaImage:
---
<section class="detail_stage lax">

  <div class="wrapper">

    <div class="opener">
      <p class="topline wht">Gartenpflege</p>
      <h1 class="wht">Erst planen. Dann machen.</h1>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

  <div class="visual"></div>
  {% picture "/stages/visual_stage_leistungen_gartenpflege.jpg", "Gartenpflege – Zimmern Garten und Landschaftsbau GmbH" %}

</section><!-- .header_stage -->


<section class="intro bg8">

  <div class="wrapper">

    <div class="intro_content sxty">

      <h2 data="fade-up">Vorausschauend geplant</h2>
      <p class="copy_intro" data="fade-up delay">
        Kurzer Text zum Thema Gartenplanung lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. <br><br>
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
      </p>

    </div><!-- .intro_content -->

  </div><!-- .wrapper -->

</section><!-- .intro -->


<section class="sctn leistungen_detail">

  <div class="wrapper">

    <div class="sctn_content">

      <p data="fade-up" class="topline">Gartenplanung</p>
      <h2 data="fade-up delay">Ihre Vorteile im Überblick</h2>

      <ul data="fade-up delay" class="leistungen_detail__content grd">
        <li>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit
        </li>
        <li>
          Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu
        </li>
        <li>
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
        </li>
        <li>
          In enim justo, rhoncus ut, imperdiet a
        </li>
        <li>
          Donec quam felis, ultricies nec, pellentesque eu
        </li>
        <li>
          Nullam dictum felis eu pede mollis pretium. Integer tincidunt
        </li>
      </ul>

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->

</section><!-- .gartenplanung -->

<section class="sctn gllry">
  <div class="wrapper">

    <div class="sctn_content">

      <h2 data="fade-up delay">Die Gartenpflege in Bildern</h2>

      <ul class="gllry__content grd">
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_01.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_01.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_02.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_02.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_03.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_03.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_04.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_04.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_05.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_05.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_06.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_06.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_07.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_07.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_08.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_08.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_09.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_09.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_10.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_10.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_11.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_11.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_12.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_12.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_13.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_13.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_14.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_14.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_15.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_15.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_16.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_16.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_17.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_17.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_18.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_18.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_19.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_19.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_20.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_20.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_21.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_21.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_22.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_22.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_23.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_23.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_24.jpg" class="gllry__zoom" data-dimbox="gllry_gartenpflege" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_gartenpflege_24.jpg", "Gartenpflege in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
      </ul>

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->
</section><!-- .gllry -->


{% include "partials/kontakt.njk"%}
{% include "partials/quicklinks.njk" %}
