---
title: Idee, Beratung, Planung
permalink: /idee-beratung-planung/
layout: "layouts/base.njk"

seoTitle: Idee, Beratung, Planung
seoDescription: Bevor es losgeht braucht es einen Plan. Wir haben ihn, Sie können ihn bekommen.
metaImage:
---
<section class="detail_stage lax">

  <div class="wrapper">

    <div class="opener">
      <p class="topline wht">Leistungen</p>
      <h1 class="wht">Idee, Beratung, Planung</h1>

      <a id="scrollDown" class="scroll_down">
        <svg class="scroll__arrow" alt="Scroll to down">
          <use xlink:href="#scroll__arrow"></use>
        </svg>
      </a>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

  <div class="visual"></div>
  {% picture "/stages/visual_stage_leistungen_idee_beratung_planung.jpg", "Idee, Beratung, Planung – Zimmern Garten und Landschaftsbau GmbH" %}

</section><!-- .header_stage -->


<section id="intro" class="intro bg8">

  <div class="wrapper">

    <div class="intro_content sxty">

      <h2 data="fade-up">Vorausschauend geplant</h2>
      <p class="copy_intro" data="fade-up delay">
        Bestandsaufnahme, Konzeptentwicklung, Bauvorbereitung, Umsetzung, Fertigstellung – das sind die Phasen, die unsere Leistung beinhaltet. Damit Projekte effizient und sauber geplant umgesetzt werden. Erfahren Sie <a href="#planungsprozess" class="link">hier</a>, wie unser Planungsprozess im Detail aufgebaut ist.<br><br>
        Unsere <a href="#gllry" class="link">Galerie</a> gibt Ihnen einen Eindruck bereits realisierter Projekte. Sollten Sie Fragen haben, freuen wir uns von Ihnen <a href="#contact" class="link">zu lesen</a>.
      </p>

    </div><!-- .intro_content -->

  </div><!-- .wrapper -->

</section><!-- .intro -->


{% include "partials/planungsprozess.njk" %}

<section class="sctn leistungen_detail">

  <div class="wrapper">

    <div class="sctn_content">

      <p data="fade-up" class="topline">Idee, Beratung, Planung</p>
      <h2 data="fade-up delay">Unsere Leistung im Überblick</h2>

      <ul data="fade-up delay" class="leistungen_detail__content grd">
        <li>
          Bestandsaufnahme mit Vorgesprächen, Budgetierung
        </li>
        <li>
          Konzeptentwicklung anhand von Skizzenentwicklung, Sichtung von Materialien und Pflanzen, Auswahl der Mustersteine
        </li>
        <li>
          Bauvorbereitung durch Einholen behördlicher Genehmigungen, Erstellung von Trassenplänen
        </li>
        <li>
          Umsetzung mit Berücksichtigung von Pflanzzeiten, Zusammenarbeit mit den vernetzten Gewerken
        </li>
        <li>
          Fertigstellung mit letztem Schliff, Abrechnung und Hinweisen zum Umgang und der Pflege neuer Pflanzen
        </li>
      </ul>

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->

</section><!-- .gartenplanung -->

<section class="sctn gllry" id="gllry">
  <div class="wrapper">

    <div class="sctn_content">

      <h2 data="fade-up delay">Gartenplanung in Bildern</h2>
      <ul class="gllry__content grd">
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_idee_beratung_planung_01.jpg" class="gllry__zoom" data-dimbox="gllry_gartenplanung" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_idee_beratung_planung_01.jpg", "Idee, Beratung und Planung in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_idee_beratung_planung_02.jpg" class="gllry__zoom" data-dimbox="gllry_gartenplanung" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_idee_beratung_planung_02.jpg", "Idee, Beratung und Planung in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_idee_beratung_planung_03.jpg" class="gllry__zoom" data-dimbox="gllry_gartenplanung" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_idee_beratung_planung_03.jpg", "Idee, Beratung und Planung in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_idee_beratung_planung_04.jpg" class="gllry__zoom" data-dimbox="gllry_gartenplanung" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_idee_beratung_planung_04.jpg", "Idee, Beratung und Planung in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_idee_beratung_planung_05.jpg" class="gllry__zoom" data-dimbox="gllry_gartenplanung" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_idee_beratung_planung_05.jpg", "Idee, Beratung und Planung in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="oov">
          <a href="/assets/img/galleries/visual_gallery_idee_beratung_planung_06.jpg" class="gllry__zoom" data-dimbox="gllry_gartenplanung" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "/galleries/visual_gallery_idee_beratung_planung_06.jpg", "Idee, Beratung und Planung in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        
      </ul>

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->
</section><!-- .gp_gllry -->

{% include "partials/kontakt.njk"%}
{% include "partials/quicklinks.njk" %}
