---
title: Karriere Ausbildung
permalink: karriere-ausbildung
layout: "layouts/base.njk"

seoTitle: Karriere Ausbildung
seoDescription:
metaImage:
---
<section class="detail_stage lax">

  <div class="wrapper">

    <div class="opener">
      <p class="topline wht">Ausbildung</p>
      <h1 class="wht">Pack's an!</h1>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

  <div class="visual"></div>
  {% picture "ausbildung.png", "Karriere – Zimmern Garten und Landschaftsbau GmbH" %}

</section><!-- .header_stage -->