---
title: Karriere Berufserfahrene
permalink: /karriere-berufserfahrene/
layout: "layouts/base.njk"

seoTitle: Karriere Berufserfahrene
seoDescription:
metaImage:
---
<section class="detail_stage lax">

  <div class="wrapper">

    <div class="opener">
      <p class="topline wht">Berufserfahren</p>
      <h1 class="wht">Jetzt durchstarten!</h1>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

  <div class="visual"></div>
  {% picture "/stages/visual_stage_karriere_berufserfahrene.jpg", "Karriere Berufserfahrene – Zimmern Garten und Landschaftsbau GmbH" %}

</section><!-- .header_stage -->


<section class="intro bg8">

  <div class="wrapper">

    <div class="intro_content sxty">

      <h2 data="fade-up">Werde Teil von einem tollen Team</h2>
      <p class="copy_intro" data="fade-up delay">
        Täglich Neues schaffen – mit und bei uns. Einem bodenständigen Familienunternehmen im Westen Hamburgs. Vielleicht ist eine passende Stellenausschreibung für Sie dabei.<br><br>
        Und selbst wenn nicht, freuen wir uns auf Ihre <a href="mailto:zimmern@rissen.de?subject=Initiativbewerbung" class="link">Initiativbewerbung</a>.
      </p>

    </div><!-- .intro_content -->

  </div><!-- .wrapper -->

</section><!-- .intro -->

<section class="ad ad_berufserfahrene">

  <div class="wrapper grd">
    <div data="fade-up" class="item_1 lft">
      {% picture "/karriere/teaser_karriere_berufserfahrene_offene_stellen.jpg", "Offene Stellen – Zimmern Garten und Landschaftsbau GmbH" %}
    </div>
    <div class="item_2">
      <p data="fade-up" class="topline">Wir suchen aktuell:</p>
      <ul class="ad_list">
        <li data="fade-up" class="ad_list__items">
          <h5>Gärtner (m/w/d) Fachrichtung Garten- und Landschaftsbau</h5>
          <button class="btn btn_red" onclick="location.href='/karriere-berufserfahren-stellenanzeige'" type="button" data="fade-up">Jetzt bewerben</button>
        </li>
      </ul>
    </div>

  </div><!-- .wrapper -->

</section><!-- .ad -->

<section class="sctn benefits">

  <div class="wrapper">

    <div class="sctn_content">

      <p data="fade-up" class="topline">Karriere bei Zimmern</p>
      <h2 data="fade-up delay">Deine Vorteile im Überblick</h2>

      <ul data="fade-up delay" class="leistungen_detail__content grd">
        <li>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit
        </li>
        <li>
          Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu
        </li>
        <li>
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
        </li>
        <li>
          In enim justo, rhoncus ut, imperdiet a
        </li>
        <li>
          Donec quam felis, ultricies nec, pellentesque eu
        </li>
        <li>
          Nullam dictum felis eu pede mollis pretium. Integer tincidunt
        </li>
      </ul>

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->

</section><!-- .gartenplanung -->


{% include "partials/kontakt_berufserfahrene.njk"%}

{% include "partials/in_numbers.njk"%}

{% include "partials/quicklinks.njk" %}
