---
title: Karriere
permalink: /karriere/
layout: "layouts/base.njk"

seoTitle: Karriere
seoDescription:
metaImage:
---
<section class="detail_stage lax bg8">

  <div class="wrapper">

    <div class="opener">
      <p class="topline">Karriere</p>
      <h1>Teil des Teams werden.</h1>
      <p class="copy">
        Unsere Stärke ist unser Team. Denn bei Zimmern arbeiten Menschen die eins eint: Die Leidenschaft für Gärten.<br>
        Sie möchten Teil es Teams werden? Schauen Sie sich um. Egal ob mit Blick auf eine mögliche Ausbildung oder bereits berufserfahren.<br>
        Und sollten Sie nichts finden – wir freuen uns auch über <a href="mailto:zimmern@rissen.de?subject=Initiativbewerbung" class="link">Initiativbewerbungen</a>. 
      </p>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

</section><!-- .header_stage -->

<section class="teaser__karriere">

  <div class="wrapper">

    <div class="tiles">

      <div class="item_2 grd">
        <div data="fade-up" class="lnd lft">
          {% picture "ausbildung-teaser.png", "Karriere Ausbildung – Zimmern Garten und Landschaftsbau GmbH" %}
        </div>
        <div>
          <h3 data="fade-up">Ausbildung</h3>
          <p class="copy" data="fade-up delay">Bei uns kannst Du nach und nach in den Beruf hineinwachsen. Schau einfach rein und erfahre, was Du bei uns lernen kannst.</p>
          <button class="btn btn_red" onclick="location.href='/karriere-ausbildung'" type="button" data="fade-up">Mehr erfahren</button>
        </div>

      </div><!-- .item_2 -->

      <div class="item_3 grd">
        <div data="fade-up" class="sqr">
          {% picture "karriere-berufserfahrene.png", "Karriere Berufserfahrene – Zimmern Garten und Landschaftsbau GmbH" %}
        </div>
        <div>
          <h3 data="fade-up">Berufserfahrene</h3>
          <p class="copy" data="fade-up delay">Bereits berufserfahren? Dann schauen Sie sich um. Vielleicht ist etwas Passendes für Sie dabei.</p>
          <button class="btn btn_red" onclick="location.href='/karriere-berufserfahrene'" type="button" data="fade-up">Mehr erfahren</button>
        </div>
      </div><!-- .item_3 -->

    </div><!-- .tiles -->

  </div><!-- .wrapper -->

</section>

{% include "partials/quicklinks.njk" %}
