---
title: Kontakt
permalink: /kontakt/
layout: "layouts/base.njk"

seoTitle: Kontakt
seoDescription:
metaImage:
---
<section class="detail_stage lax">

  <div class="wrapper">

    <div class="opener">
      <p data="fade-up" class="topline wht">Kontakt</p>
      <h1 data="fade-up delay" class="wht">Für Sie da.</h1>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

  <div class="visual"></div>
  {% picture "team.png", "Das Team – Zimmern Garten und Landschaftsbau GmbH" %}

</section><!-- .header_stage -->
<section class="sctn_ansprechpartner bg8">
  <div class="wrapper">

    <div class="item_2">
      <div class="meta_informations grd">
        <div class="meta_informations__item item_1" data="fade-up">
          <p>
            <strong>Miles Zimmern Garten und<br>
             Landschaftsbau GmbH <br></strong>
            Groten Flerren 38 <br>
            22559 Hamburg
          </p>
        </div><!-- .meta_informations__item -->

        <div class="meta_informations__item item_2" data="fade-up">
          <p>
            Telefon: <span class="spc">040 . 81 58 03 </span><br>
            Telefax: <span class="spc">040 . 81 99 02 39</span><br><br>

            <span class="spc_psh">E-Mail:</span> <a class="beta_link link" href="mailto:zimmern@rissen.de">zimmern@rissen.de</a>
          </p>
        </div><!-- .meta_informations__item -->

        <div class="meta_informations__item item_3" data="fade-up">
          <strong>Unsere Bürozeiten</strong>
          <ul class="oeffnungszeiten">
            <li><span>Mo-Fr:</span> <span class="spc">8:00 - 16:00 Uhr</span></li>
            <li><span>Sa:</span> <span class="spc">8:00 – 12:00 Uhr</span></li>
          </ul>
        </div><!-- .meta_informations__item -->

      </div><!-- .meta_informations -->

    </div><!-- .item_2 -->

  </div>
</section>
<section class="sctn_ansprechpartner">

  <div class="wrapper">

    <div class="item_1">
      <h2 data="fade-up">AnsprechpartnerInnen</h2>
      <ul class="ansprechpartner" data="fade-up delay">
        <li class="person">
          <span class="profile">

          </span>
          <p class="name">
            Miles Zimmern 
          </p>
          <p class="pro">
            Geschäftsführer
          </p>
        </li>
        <li class="person">
          <span class="profile">

          </span>
          <p class="name">
            Charlotte Zimmern 
          </p>
          <p class="pro">
            Titel
          </p>
        </li>
        <li class="person">
          <span class="profile">

          </span>
          <p class="name">
            Anke Poppinga 
          </p>
          <p class="pro">
            Landespflege und Objektplanung
          </p>
        </li>
        <li class="person">
          <span class="profile">

          </span>
          <p class="name">
            Fritz Peleikis 
          </p>
          <p class="pro">
            Buchhaltung
          </p>
        </li>
        <li class="person">
          <span class="profile">

          </span>
          <p class="name">
            Julia Peleikis-Zimmern 
          </p>
          <p class="pro">
            Personalwesen
          </p>
        </li>


      </ul>
    </div><!-- .item_1 -->

  </div><!-- .wrapper -->


</section>
