---
title: Leistungen
permalink: /leistungen/
layout: "layouts/base.njk"

seoTitle: Leistungen
seoDescription: Gartenneubau, Baum- und Gartenpflege, Baumschule, Baufelderschließung, Ideenentwicklung, Beratung, Planung ... – was wir tun im Überblick.
metaImage: /startseite/teaser_startseite_baumpflege.jpg
---
<section class="detail_stage lax bg8 ffty">

  <div class="wrapper">

    <div class="opener ffty">
      <h1>Unsere Leistungen</h1>
      <p class="copy_intro">
        Gartenneubau, Baum- und Gartenpflege, Baumschule, Baufelderschließung, Ideenentwicklung, Beratung, Planung ... – was wir tun im Überblick.
      </p>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

</section><!-- .header_stage -->

<section class="teaser_leistungen">

  <div class="wrapper">

    <div class="tiles">

      <div class="item_1 grd">
        <div data="fade-up" class="lnd">
          {% picture "/startseite/teaser_startseite_gartenneubau.jpg", "Gartenneubau – Zimmern Garten- und Landschaftsbau GmbH" %}
        </div>
        <div>
          <h3 data="fade-up">Gartenneubau</h3>
          <p class="copy" data="fade-up delay">Vor, während und nach dem Gartenneubau – vertrauen Sie uns und unserer Kompetenz. In jeder Phase.</p>
          <button class="btn btn_red" onclick="location.href='/leistungen'" type="button" data="fade-up">Mehr erfahren</button>
        </div>

      </div><!-- .item_1 -->

      <div class="item_2 grd">
        <div data="fade-up" class="sqr">
          {% picture "/startseite/teaser_startseite_baumpflege.jpg", "Baumpflege – Zimmern Garten- und Landschaftsbau GmbH" %}
        </div>
        <div>
          <h3 data="fade-up">Baumpflege</h3>
          <p class="copy" data="fade-up delay">Eine unserer Kernkompetenzen: Sanierungs- und Pflegemaß-nahmen Ihrer Bäume.</p>
          <button class="btn btn_red" onclick="location.href='/leistungen'" type="button" data="fade-up">Mehr erfahren</button>
        </div>
      </div><!-- .item_2 -->

      <div class="item_3 grd">
        <div data="fade-up" class="sqr">
          {% picture "/startseite/teaser_startseite_gartenpflege.jpg", "Gartenpflege – Zimmern Garten- und Landschaftsbau GmbH" %}
        </div>
        <div>
          <h3 data="fade-up">Gartenpflege</h3>
          <p class="copy" data="fade-up delay">Ein neuer Garten ist schön. Schön ist es jedoch auch, wenn er es bleibt.</p>
          <button class="btn btn_red" onclick="location.href='/leistungen'" type="button" data="fade-up">Mehr erfahren</button>
        </div>
      </div><!-- .item_3 -->

      <div class="item_4 grd">
        <div data="fade-up" class="lnd">
          {% picture "/startseite/teaser_startseite_baumschule.jpg", "Baumschule – Zimmern Garten- und Landschaftsbau GmbH" %}
        </div>
        <div>
          <h3 data="fade-up">Baumschule</h3>
          <p class="copy" data="fade-up delay">Machen Sie doch mal einen Spaziergang durch unsere Baumschule. Virtuell und gerne auch vor Ort.</p>
          <button class="btn btn_red" onclick="location.href='/leistungen'" type="button" data="fade-up">Mehr erfahren</button>
        </div>
      </div><!-- .item_4 -->

       <div class="item_5 grd">
        <div data="fade-up" class="sqr">
          {% picture "/startseite/teaser_startseite_baufelderschliessung.jpg", "baufelderschließung – Zimmern Garten- und Landschaftsbau GmbH" %}
        </div>
        <div>
          <h3 data="fade-up">Baufelderschließung</h3>
          <p class="copy" data="fade-up delay">Erfahren Sie alles zu unsere Leistung rund um das Thema Baufelderschließung.</p>
          <button class="btn btn_red" onclick="location.href='/baumschule'" type="button" data="fade-up">Mehr erfahren</button>
        </div>
      </div><!-- .item_5 -->

      <div class="item_6 grd">
        <div data="fade-up" class="sqr">
          {% picture "/startseite/teaser_startseite_idee_beratung_planung.jpg", "Idee, Beratung, Planung – Zimmern Garten- und Landschaftsbau GmbH" %}
        </div>
        <div>
          <h3 data="fade-up">Idee, Beratung, Planung</h3>
          <p class="copy" data="fade-up delay">Bevor es losgeht braucht es einen Plan. Wir haben ihn, Sie können ihn bekommen.</p>
          <button class="btn btn_red" onclick="location.href='/idee-beratung-planung'" type="button" data="fade-up">Mehr erfahren</button>
        </div>
      </div><!-- .item_6 -->

    </div><!-- .tiles -->

  </div><!-- .wrapper -->

</section>



{% include "partials/kontakt.njk"%}


{% include "partials/quicklinks.njk" %}
