---
title: Projektgalerie
permalink: /projektgalerie/
layout: "layouts/base.njk"

seoTitle: Unsere Projekte
seoDescription:
metaImage:
---
<section class="detail_stage lax bg8">

  <div class="wrapper">

    <div class="opener">
      <h1>Erfahrung trifft auf Leidenschaft.</h1>
      <p class="copy_intro">
        Wir machen viel. Und das zeigen Ihnen hier gerne. <br><br>
        Wenn Sie Fragen zu einem unserer Projekte haben oder mehr wissen wollen, <a class="link" href="">kontaktieren</a> Sie uns einfach. Wir freuen uns von Ihnen zu lesen oder zu hören.
      </p>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

</section><!-- .header_stage -->

<section class="sctn gllry projekt_gllry">
  <div class="wrapper">

    <div class="sctn_content">

      <p class="topline" data="fade-up delay">Galerie-Filter</p>

      <div class="filter_btns">
        
        <button class="gllry_filter" type="button" data-filter="all">Alle Bilder</button>
        <button class="gllry_filter" type="button" data-filter=".gartenneubau">Gartenneubau</button>
        <button class="gllry_filter" type="button" data-filter=".baumpflege">Baumpflege</button>
        <button class="gllry_filter" type="button" data-filter=".gartenpflege">Gartenpflege</button>
        <button class="gllry_filter" type="button" data-filter=".baumpschule">Baumpschule</button>
        <button class="gllry_filter" type="button" data-filter=".baufelderschließung">Baufelderschließung</button>
        <button class="gllry_filter" type="button" data-filter=".ideeberatungplanung">Idee, Beratung, Planung</button>

      </div>

      <ul class="gllry__content grd">
        <li class="mix gartenneubau">
          <a href="/assets/img/projektgallery/pg_1.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "projektgallery/pg_1.jpg", "Projekte – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/projektgallery/pg_2.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "projektgallery/pg_2.jpg", "Projekte – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix kugelbaume">
          <a href="/assets/img/projektgallery/pg_3.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "projektgallery/pg_3.jpg", "Projekte – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/projektgallery/pg_4.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "projektgallery/pg_4.jpg", "Projekte – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenpflege">
          <a href="/assets/img/projektgallery/pg_5.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "projektgallery/pg_5.jpg", "Projekte – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenpflege">
          <a href="/assets/img/projektgallery/pg_6.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "projektgallery/pg_6.jpg", "Projekte – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/projektgallery/pg_7.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "projektgallery/pg_7.jpg", "Projekte – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/projektgallery/pg_8.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "projektgallery/pg_8.jpg", "Projekte – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/projektgallery/pg_9.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "projektgallery/pg_9.jpg", "Projekte – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumpschule">
          <a href="/assets/img/projektgallery/pg_10.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "projektgallery/pg_10.jpg", "Projekte – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumpschule">
          <a href="/assets/img/projektgallery/pg_11.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "projektgallery/pg_11.jpg", "Projekte – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumpschule">
          <a href="/assets/img/projektgallery/pg_12.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="Lorem ipsum optionale Bildunterschrift dolor sit">{% picture "projektgallery/pg_12.jpg", "Projekte – Zimmern Garten und Landschaftsbau GmbH" %}</a>
        </li>
      </ul>

      <!-- <button id="loadmore" class="btn btn_red" onclick="" type="button" data="fade-up">Mehr anzeigen</button> -->

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->
</section><!-- .gllry -->



{% include "partials/kontakt.njk"%}


{% include "partials/quicklinks.njk" %}
