---
title: Projektgalerie
permalink: /projektgalerie-cms/
layout: "layouts/base.njk"

seoTitle: Projektgalerie
seoDescription: Wir machen viel. Und das zeigen wir Ihnen hier gerne.
metaImage: /startseite/teaser_startseite_baumpflege.jpg
---
<section class="detail_stage lax bg8 ffty">

  <div class="wrapper">

    <div class="opener ffty">
      <h1>Erfahrung trifft auf Leidenschaft.</h1>
      <p class="copy_intro">
        Wir machen viel. Und das zeigen wir Ihnen hier gerne. <br><br>
        Wenn Sie Fragen zu einem unserer Projekte haben oder mehr wissen wollen, <a class="link" href="">kontaktieren</a> Sie uns einfach. Wir freuen uns von Ihnen zu lesen oder zu hören.
      </p>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

</section><!-- .header_stage -->

<section class="sctn gllry projekt_gllry">
  <div class="wrapper">

    <div class="sctn_content">

      <p class="topline" data="fade-up delay">Galerie-Filter</p>

      <div class="filter_btns">
        
        <button class="gllry_filter" type="button" data-toggle="all">Alle Bilder</button>
        <button class="gllry_filter" type="button" data-toggle=".gartenneubau">Gartenneubau</button>
        <button class="gllry_filter" type="button" data-toggle=".baumpflege">Baumpflege</button>
        <button class="gllry_filter" type="button" data-toggle=".gartenpflege">Gartenpflege</button>
        <button class="gllry_filter" type="button" data-toggle=".baumschule">Baumschule</button>
        <button class="gllry_filter" type="button" data-toggle=".baufelderschliessung">Baufelderschließung</button>
        <button class="gllry_filter" type="button" data-toggle=".ideeberatungplanung">Idee, Beratung, Planung</button>

      </div>

      <ul class="gllry__content grd">

        <!-- Gartenneubau -->
        {%- for gartenneubau in gartenneubau_gallery.images -%}
          <li class="mix gartenneubau">
            <a href="{{ gartenneubau.image_url }}" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">
              
              <picture>
                <source srcset="{{ gartenneubau.image_url }}" media="(min-width: 1025px)">
                <source srcset="{{ gartenneubau.image_url }}?nf_resize=fit&w=1024" media="(min-width: 769px)">
                <source srcset="{{ gartenneubau.image_url }}?nf_resize=fit&w=768" media="(min-width: 481px)">

                <img src="{{ gartenneubau.image_url }}?nf_resize=fit&w=480" alt="Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" />
              </picture>

            </a>      
          </li>
        {%- endfor -%}

        <!-- Baumpflege -->
        {%- for baumpflege in baumpflege_gallery.images -%}
        <li class="mix baumpflege">
          <a href="{{ baumpflege.image_url }}" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">
                
            <picture>
              <source srcset="{{ baumpflege.image_url }}" media="(min-width: 1025px)">
              <source srcset="{{ baumpflege.image_url }}?nf_resize=fit&w=1024" media="(min-width: 769px)">
              <source srcset="{{ baumpflege.image_url }}?nf_resize=fit&w=768" media="(min-width: 481px)">

              <img src="{{ baumpflege.image_url }}?nf_resize=fit&w=480" alt="Baumpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" />
            </picture>

          </a>  
        </li>
        {%- endfor -%}

        <!-- Gartenpflege -->
        {%- for gartenpflege in gartenpflege_gallery.images -%}
        <li class="mix gartenpflege">
          <a href="{{ gartenpflege.image_url }}" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">
                
            <picture>
              <source srcset="{{ gartenpflege.image_url }}" media="(min-width: 1025px)">
              <source srcset="{{ gartenpflege.image_url }}?nf_resize=fit&w=1024" media="(min-width: 769px)">
              <source srcset="{{ gartenpflege.image_url }}?nf_resize=fit&w=768" media="(min-width: 481px)">

              <img src="{{ gartenpflege.image_url }}?nf_resize=fit&w=480" alt="Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" />
            </picture>
            
          </a> 
        </li>
        {%- endfor -%}

        <!-- Baumschule -->
        {%- for baumschule in baumschule_gallery.images -%}
        <li class="mix baumschule">
          <a href="{{ baumschule.image_url }}" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">
                
            <picture>
              <source srcset="{{ baumschule.image_url }}" media="(min-width: 1025px)">
              <source srcset="{{ baumschule.image_url }}?nf_resize=fit&w=1024" media="(min-width: 769px)">
              <source srcset="{{ baumschule.image_url }}?nf_resize=fit&w=768" media="(min-width: 481px)">

              <img src="{{ baumschule.image_url }}?nf_resize=fit&w=480" alt="Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" />
            </picture>
            
          </a>
        </li>
        {%- endfor -%}

        <!-- Baufelderschliessung -->
        {%- for baufelderschliessung in baufelderschliessung_gallery.images -%}
        <li class="mix baufelderschliessung">
          <a href="{{ baufelderschliessung.image_url }}" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">
                
            <picture>
              <source srcset="{{ baufelderschliessung.image_url }}" media="(min-width: 1025px)">
              <source srcset="{{ baufelderschliessung.image_url }}?nf_resize=fit&w=1024" media="(min-width: 769px)">
              <source srcset="{{ baufelderschliessung.image_url }}?nf_resize=fit&w=768" media="(min-width: 481px)">

              <img src="{{ baufelderschliessung.image_url }}?nf_resize=fit&w=480" alt="Baufelderschliessung in Bildern – Zimmern Garten- und Landschaftsbau GmbH" />
            </picture>
            
          </a>
        </li>
        {%- endfor -%}

        <!-- Idee, Beratung, Planung -->
        {%- for ideeberatungplanung in ideeberatungplanung_gallery.images -%}
        <li class="mix ideeberatungplanung">
          <a href="{{ ideeberatungplanung.image_url }}" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">
                
            <picture>
              <source srcset="{{ ideeberatungplanung.image_url }}" media="(min-width: 1025px)">
              <source srcset="{{ ideeberatungplanung.image_url }}?nf_resize=fit&w=1024" media="(min-width: 769px)">
              <source srcset="{{ ideeberatungplanung.image_url }}?nf_resize=fit&w=768" media="(min-width: 481px)">

              <img src="{{ ideeberatungplanung.image_url }}?nf_resize=fit&w=480" alt="Idee, Beratung, Planung in Bildern – Zimmern Garten- und Landschaftsbau GmbH" />
            </picture>
            
          </a>
        </li>
        {%- endfor -%}
        
      </ul>

      <!-- <button id="loadmore" class="btn btn_red" onclick="" type="button" data="fade-up">Mehr anzeigen</button> -->

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->
</section><!-- .gllry -->



{% include "partials/kontakt.njk"%}


{% include "partials/quicklinks.njk" %}
