---
title: Projektgalerie
permalink: /projektgalerie/
layout: "layouts/base.njk"

seoTitle: Unsere Projekte
seoDescription:
metaImage:
---
<section class="detail_stage lax bg8">

  <div class="wrapper">

    <div class="opener">
      <h1>Erfahrung trifft auf Leidenschaft.</h1>
      <p class="copy_intro">
        Wir machen viel. Und das zeigen Ihnen hier gerne. <br><br>
        Wenn Sie Fragen zu einem unserer Projekte haben oder mehr wissen wollen, <a class="link" href="">kontaktieren</a> Sie uns einfach. Wir freuen uns von Ihnen zu lesen oder zu hören.
      </p>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

</section><!-- .header_stage -->

<section class="sctn">

  <div class="wrapper">

  

  </div><!-- .wrapper -->

</section>



{% include "partials/kontakt.njk"%}


{% include "partials/quicklinks.njk" %}
