---
title: Projektgalerie
permalink: /projektgalerie/
layout: "layouts/base.njk"

seoTitle: Projektgalerie
seoDescription: Wir machen viel. Und das zeigen wir Ihnen hier gerne.
metaImage: /startseite/teaser_startseite_baumpflege.jpg
---
<section class="detail_stage lax bg8 ffty">

  <div class="wrapper">

    <div class="opener ffty">
      <h1>Erfahrung trifft auf Leidenschaft.</h1>
      <p class="copy_intro">
        Wir machen viel. Und das zeigen wir Ihnen hier gerne. <br><br>
        Wenn Sie Fragen zu einem unserer Projekte haben oder mehr wissen wollen, <a class="link" href="">kontaktieren</a> Sie uns einfach. Wir freuen uns von Ihnen zu lesen oder zu hören.
      </p>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

</section><!-- .header_stage -->

<section class="sctn gllry projekt_gllry">
  <div class="wrapper">

    <div class="sctn_content">

      <p class="topline" data="fade-up delay">Galerie-Filter</p>

      <div class="filter_btns">
        
        <button class="gllry_filter" type="button" data-toggle="all">Alle Bilder</button>
        <button class="gllry_filter" type="button" data-toggle=".gartenneubau">Gartenneubau</button>
        <button class="gllry_filter" type="button" data-toggle=".baumpflege">Baumpflege</button>
        <button class="gllry_filter" type="button" data-toggle=".gartenpflege">Gartenpflege</button>
        <button class="gllry_filter" type="button" data-toggle=".baumschule">Baumschule</button>
        <button class="gllry_filter" type="button" data-toggle=".baufelderschliessung">Baufelderschließung</button>
        <button class="gllry_filter" type="button" data-toggle=".ideeberatungplanung">Idee, Beratung, Planung</button>

      </div>

      <ul class="gllry__content grd">

        <!-- Gartenneubau -->
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_01.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenneubau_01.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_03.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenneubau_03.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_05.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenneubau_05.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_06.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenneubau_06.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_07.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenneubau_07.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_10.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenneubau_10.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_12.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenneubau_12.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_13.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenneubau_13.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_14.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenneubau_14.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_17.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenneubau_17.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_18.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenneubau_18.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_21.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_21.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_22.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_22.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_25.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_25.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_26.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_26.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_27.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_27.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_30.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_30.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_31.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_31.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_32.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_32.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_34.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_34.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_37.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_37.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_39.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_39.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_40.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_40.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img/galleries/visual_gallery_gartenneubau_41.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_41.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_43.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_43.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_46.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_46.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_47.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_47.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_50.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_50.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_53.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_53.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_54.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_54.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_55.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_55.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_56.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_56.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_57.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_57.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_58.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_58.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_59.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_59.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_60.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_60.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenneubau">
          <a href="/assets/img//galleries/visual_gallery_gartenneubau_61.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "//galleries/visual_gallery_gartenneubau_61.jpg", "Gartenneubau in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>

        <!-- Baumpflege -->
        <li class="mix baumpflege">
          <a href="/assets/img/galleries/visual_gallery_baumpflege_01.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumpflege_01.jpg", "Baumpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumpflege">
          <a href="/assets/img/galleries/visual_gallery_baumpflege_02.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumpflege_02.jpg", "Baumpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumpflege">
          <a href="/assets/img/galleries/visual_gallery_baumpflege_03.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumpflege_03.jpg", "Baumpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumpflege">
          <a href="/assets/img/galleries/visual_gallery_baumpflege_04.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumpflege_04.jpg", "Baumpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumpflege">
          <a href="/assets/img/galleries/visual_gallery_baumpflege_05.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumpflege_05.jpg", "Baumpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumpflege">
          <a href="/assets/img/galleries/visual_gallery_baumpflege_06.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumpflege_06.jpg", "Baumpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumpflege">
          <a href="/assets/img/galleries/visual_gallery_baumpflege_07.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumpflege_07.jpg", "Baumpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumpflege">
          <a href="/assets/img/galleries/visual_gallery_baumpflege_08.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumpflege_08.jpg", "Baumpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumpflege">
          <a href="/assets/img/galleries/visual_gallery_baumpflege_09.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumpflege_09.jpg", "Baumpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumpflege">
          <a href="/assets/img/galleries/visual_gallery_baumpflege_10.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumpflege_10.jpg", "Baumpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumpflege">
          <a href="/assets/img/galleries/visual_gallery_baumpflege_11.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumpflege_11.jpg", "Baumpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumpflege">
          <a href="/assets/img/galleries/visual_gallery_baumpflege_12.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumpflege_12.jpg", "Baumpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumpflege">
          <a href="/assets/img/galleries/visual_gallery_baumpflege_13.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumpflege_13.jpg", "Baumpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumpflege">
          <a href="/assets/img/galleries/visual_gallery_baumpflege_14.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumpflege_14.jpg", "Baumpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>

        <!-- Gartenpflege -->
        <li class="mix gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_04.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_04.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_05.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_05.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_06.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_06.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_07.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_07.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_08.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_08.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_09.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_09.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_10.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_10.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_11.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_11.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_12.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_12.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_13.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_13.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_18.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_18.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_20.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_20.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_21.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_21.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_22.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_22.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix gartenpflege">
          <a href="/assets/img/galleries/visual_gallery_gartenpflege_23.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_gartenpflege_23.jpg", "Gartenpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>

        <!-- Baumschule -->
        <li class="mix baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_01.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_01.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_02.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_02.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_03.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_03.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_04.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_04.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_05.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_05.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_06.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_06.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_07.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_07.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_08.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_08.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_09.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_09.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_10.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_10.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_11.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_11.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_12.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_12.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_13.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_13.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_14.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_14.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_15.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_15.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baumschule">
          <a href="/assets/img/galleries/visual_gallery_baumschule_16.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baumschule_16.jpg", "Baumschule in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>

        <!-- Baufelderschliessung -->
        <li class="mix baufelderschliessung">
          <a href="/assets/img/galleries/visual_gallery_baufelderschliessung_01.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baufelderschliessung_01.jpg", "Baumpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baufelderschliessung">
          <a href="/assets/img/galleries/visual_gallery_baufelderschliessung_02.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baufelderschliessung_02.jpg", "Baumpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baufelderschliessung">
          <a href="/assets/img/galleries/visual_gallery_baufelderschliessung_03.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baufelderschliessung_03.jpg", "Baumpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix baufelderschliessung">
          <a href="/assets/img/galleries/visual_gallery_baufelderschliessung_04.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_baufelderschliessung_04.jpg", "Baumpflege in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>

        <!-- Idee, Beratung, Planung -->
        <li class="mix ideeberatungplanung">
          <a href="/assets/img/galleries/visual_gallery_idee_beratung_planung_02.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_idee_beratung_planung_02.jpg", "Idee, Beratung und Planung in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix ideeberatungplanung">
          <a href="/assets/img/galleries/visual_gallery_idee_beratung_planung_05.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_idee_beratung_planung_05.jpg", "Idee, Beratung und Planung in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>
        <li class="mix ideeberatungplanung">
          <a href="/assets/img/galleries/visual_gallery_idee_beratung_planung_06.jpg" class="gllry__zoom" data-dimbox="gllry_projekte" data-dimbox-caption="">{% picture "/galleries/visual_gallery_idee_beratung_planung_06.jpg", "Idee, Beratung und Planung in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
        </li>

      </ul>

      <!-- <button id="loadmore" class="btn btn_red" onclick="" type="button" data="fade-up">Mehr anzeigen</button> -->

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->
</section><!-- .gllry -->



{% include "partials/kontakt.njk"%}


{% include "partials/quicklinks.njk" %}
