---
title: Unternehmen
permalink: /unternehmen/
layout: "layouts/base.njk"

seoTitle: Unternehmen
seoDescription: Wir sind ein Familienunternehmen. Seit 1952. Gegründet von Jürgen Zimmern in Hamburg-Rissen und in dritter Generation von Miles Zimmern geführt.
metaImage: /stages/visual_stage_unternehmen.jpg
---
<section class="detail_stage lax">

  <div class="wrapper">

    <div class="opener">
      <p data="fade-up" class="topline wht">Das Unternehmen</p>
      <h1 data="fade-up delay" class="wht">Wir. Für Sie.</h1>

      <a id="scrollDown" class="scroll_down">
        <svg class="scroll__arrow" alt="Scroll to down">
          <use xlink:href="#scroll__arrow"></use>
        </svg>
      </a>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

  <div class="visual"></div>
  {% picture "/stages/visual_stage_unternehmen.jpg", "Das Unternehmen – Zimmern Garten- und Landschaftsbau GmbH" %}

</section><!-- .header_stage -->


<section id="intro" class="intro bg8">

  <div class="wrapper">

    <div class="intro_content sxty">

      <h2 data="fade-up">Erfahrung trifft auf Leidenschaftt</h2>
      <p class="copy_intro" data="fade-up delay">
        Wir sind ein Familienunternehmen. Seit 1952. Gegründet von Jürgen Zimmern in Hamburg-Rissen und in dritter Generation von Miles Zimmern geführt. <br><br>
        Wir legen wert auf Werte. Dazu gehören Respekt, Fairness, Offenheit und Zuverlässigkeit. Wir kommunizieren auf Augenhöhe, egal ob innerhalb des Unternehmens oder unseren Kunden gegenüber.
      </p>

    </div><!-- .intro_content -->

  </div><!-- .wrapper -->

</section><!-- .intro -->

<section class="team sctn">

  <div class="wrapper">

    <div class="sctn_content grd">

      <div class="item_1">
        {% picture "/unternehmen/visual_unternehmen_team.jpg", "Das Team – Zimmern Garten- und Landschaftsbau GmbH" %}
      </div><!-- .item_1 -->

      <div class="item_2">

        <p class="copy_intro" data="fade-up delay">
          Es ist unser Anspruch, Besonderes zu schaffen. Möglich wird dies durch ein vielseitig aufgestelltes 20 köpfiges Team bestehend aus Gärtnern, Gartenbauingenieuren, Baumschülern, Steinsetzern, Baumkletterern, Baumpflegern, Schlosser, Tischler und Zaunbauern.<br><br>
          Diese Kombination aus Handwerk, einem umfangreichen Maschinenpark und unserer <a href="/baumschule" class="link">Baumschule</a> ist eine gute Basis zur Realisierung von Gartenträumen. Unser Schwerpunkt liegt in der Herstellung und Unterhaltung anspruchsvoller Gärten in Hamburgs Westen mit allen <a href="/leistungen" class="link">Leistungen</a>, die dazu gehören.<br><br>
          Durch unsere jahrzehntelange Berufserfahrung sind wir kompetente Ansprechpartner für Gartenneuanlagen in jeder Größe und nehmen jede Herausforderung gerne an. Getreu dem Motto: &bdquo;Von der Hauskante bis zum Gartenzaun bieten wir alles aus einer Hand.&ldquo;<br><br>
          Jedoch kommen wir nicht nur zu Ihnen, wir laden sie auch zu uns auf einen Spaziergang ein – in unsere Baumschule. Virtuell und vor Ort. Lernen Sie uns gerne kennen!
        </p>
        <button class="btn btn_red" onclick="location.href='/kontakt'" type="button" data="fade-up">Kontakt aufnehmen</button>

      </div><!-- .item_2 -->

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->

</section>

{% include "partials/dronefootage.njk"%}

{% include "partials/in_numbers.njk"%}

{% include "partials/historie_sldr.njk"%}

<section class="sctn_ansprechpartner">

  <div class="wrapper">
    <div class="item_1">
      <h2 data="fade-up">AnsprechpartnerInnen</h2>
      <ul class="ansprechpartner" data="fade-up delay">
        <li class="person">
          <span class="profile">
            {% picture "/portraits/portrait_zimmern_miles.png", "Miles Zimmern – Zimmern Garten- und Landschaftsbau GmbH" %}
          </span>
          <p class="name">
            Miles Zimmern
          </p>
          <p class="pro">
            Geschäftsführer
          </p>
        </li>
        <li class="person">
          <span class="profile">
            {% picture "/portraits/portrait_zimmern_charlotte.png", "Charlotte Zimmern – Zimmern Garten- und Landschaftsbau GmbH" %}
          </span>
          <p class="name">
            Charlotte Zimmern
          </p>
          <p class="pro">
            Meisterin im Garten- und Landschaftsbau
          </p>
        </li>
        <li class="person">
          <span class="profile">
            {% picture "/portraits/portrait_poppinga_anke.png", "Anke Poppinga – Zimmern Garten- und Landschaftsbau GmbH" %}
          </span>
          <p class="name">
            Anke Poppinga
          </p>
          <p class="pro">
            Landespflege und Objektplanung
          </p>
        </li>
        <li class="person">
          <span class="profile">
            {% picture "/portraits/portrait_peleikis_fritz.png", "Fritz Peleikis – Zimmern Garten- und Landschaftsbau GmbH" %}
          </span>
          <p class="name">
            Fritz Peleikis
          </p>
          <p class="pro">
            Buchhaltung
          </p>
        </li>
        <li class="person">
          <span class="profile">
            {% picture "/portraits/portrait_peleikis-zimmern_julia.png", "Julia Peleikis-Zimmern – Zimmern Garten- und Landschaftsbau GmbH" %}
          </span>
          <p class="name">
            Julia Peleikis-Zimmern
          </p>
          <p class="pro">
            Personalwesen
          </p>
        </li>


      </ul>
    </div><!-- .item_1 -->

    <div class="item_2">
      <div class="meta_informations grd">
        <div class="meta_informations__item item_1" data="fade-up">
          <p>
            <strong>Miles Zimmern Garten- und<br>
            Landschaftsbau GmbH<br></strong>
            Groten Flerren 38<br>
            22559 Hamburg
          </p>
        </div><!-- .meta_informations__item -->

        <div class="meta_informations__item item_2" data="fade-up">
          <p>
            Telefon: <span class="spc">040 . 81 58 03</span><br>
            Telefax: <span class="spc">040 . 81 99 02 39</span><br><br>

            <span class="spc_psh">E-Mail:</span> <a class="beta_link link" href="mailto:zimmern@rissen.de">zimmern@rissen.de</a>
          </p>
        </div><!-- .meta_informations__item -->

        <div class="meta_informations__item item_3" data="fade-up">
          <strong>Unsere Bürozeiten</strong>
          <ul class="oeffnungszeiten">
            <li><span>Mo-Fr:</span> <span class="spc">8:00 - 16:00 Uhr</span></li>
            <li><span>Sa:</span> <span class="spc">8:00 – 12:00 Uhr</span></li>
          </ul>
        </div><!-- .meta_informations__item -->

      </div><!-- .meta_informations -->

    </div><!-- .item_2 -->

  </div><!-- .wrapper -->


</section>

<section class="member">
  <div class="wrapper grd">

    <div class="item_1">
      <p class="topline">Wir sind Mitglied im:</p>

      <h2 data="fade-up">Fachverband Garten-, Landschafts- und Sportplatzbau Hamburg e. V.G</h2>
    </div>

    <div class="item_2">
      <p>
        Stark im Verbund. Durch den fachlichen Austausch mit anderen Mitgliedern und die Weiterbildungsmöglichkeiten des Fachverbandes sind wir immer auf dem neuesten Stand – und davon profitieren Sie. <br><br>
        Erfahren Sie mehr auf den Internetseiten des <a href="https://www.galabau-nord.de/" class="link" target="_blank" rel="noopener noreferrer nofollow">Fachverband Garten-, Landschafts- und Sportplatzbau Hamburg e. V.G.</a><br><br> 
        Übrigens: Jürgen Zimmern war Gründungsmitglied des Fachverbands.
      </p>
    </div>

    <div class="div item_3">
      <svg class="fachverband" alt="Instagram">
        <use xlink:href="#fachverband"></use>
      </svg>
    </div>

  </div><!-- .wrapper -->

</section>

{% include "partials/kontakt.njk"%}

{% include "partials/quicklinks.njk" %}
