---
title: Idee, Beratung, Planung

layout: "layouts/base.njk"

seoTitle: Idee, Beratung, Planung
seoDescription: Bevor es losgeht braucht es einen Plan. Wir haben ihn, Sie können ihn bekommen.
metaImage:
---
<section class="detail_stage lax">

  <div class="wrapper">

    <div class="opener">
      <p class="topline">Idee, Beratung, Planung.</p>
      <h1>Erst planen. Dann machen.</h1>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

  <div class="visual"></div>
  {% picture "idee-beratung-planung_02.png", "Idee, Beratung, Planung – Zimmern Garten und Landschaftsbau GmbH" %}

</section><!-- .header_stage -->


<section class="intro bg8">

  <div class="wrapper">

    <div class="intro_content sxty">

      <h2 data="fade-up">Vorausschauend geplant</h2>
      <p class="copy_intro" data="fade-up delay">
        Kurzer Text zum Thema Gartenplanung lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. <br><br>
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
      </p>

    </div><!-- .intro_content -->

  </div><!-- .wrapper -->

</section><!-- .intro -->


{% include "partials/planungsprozess.njk" %}

<section class="sctn gartenplanung">

  <div class="wrapper">

    <div class="sctn_content">

      <p data="fade-up" class="topline">Gartenplanung</p>
      <h2 data="fade-up delay">Ihre Vorteile im Überblick</h2>

      <ul data="fade-up delay" class="gp_detail__content grd">
        <li>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit
        </li>
        <li>
          Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu
        </li>
        <li>
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
        </li>
        <li>
          In enim justo, rhoncus ut, imperdiet a
        </li>
        <li>
          Donec quam felis, ultricies nec, pellentesque eu
        </li>
        <li>
          Nullam dictum felis eu pede mollis pretium. Integer tincidunt
        </li>
      </ul>

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->

</section><!-- .gartenplanung -->

<section class="sctn gp_gllry">
  <div class="wrapper">

    <div class="sctn_content">

      <h2 data="fade-up delay">Gartenplanung in Bildern</h2>
      <ul class="gp_gllry__content grd">
        <li>
          {% picture "idee-beratung-planung_02.png", "Gartenplanung in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}
        </li>
        <li>
          {% picture "idee-beratung-planung_02.png", "Gartenplanung in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}
        </li>
        <li>
          {% picture "idee-beratung-planung_02.png", "Gartenplanung in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}
        </li>
        <li>
          {% picture "idee-beratung-planung_02.png", "Gartenplanung in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}
        </li>
        <li>
          {% picture "idee-beratung-planung_02.png", "Gartenplanung in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}
        </li>
        <li>
          {% picture "idee-beratung-planung_02.png", "Gartenplanung in Bildern – Zimmern Garten und Landschaftsbau GmbH" %}
        </li>
      </ul>

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->
</section><!-- .gp_gllry -->

{% include "partials/contact.njk"%}
{% include "partials/quicklinks.njk" %}
