---
title: Home
layout: "layouts/base.njk"

seoTitle: Startseite
seoDescription: Herzlich willkommen bei Zimmern – Garten- und Landschaftsbau GmbH im Westen Hamburgs
metaImage: /startseite/teaser_startseite_baumpflege.jpg
---

<section class="main_stage lax">

  <div class="opener_cta wrapper">
    <h1>Garten. Landschaft. Zimmern.</h1>
    <p>Wir sind ein Familienbetrieb. Seit 1952.<br> Mit viel Erfahrung, von der Sie profitieren können. Im Westen Hamburgs.</p>
    <button type="button" name="button" onclick="location.href='/unternehmen'" class="btn btn_wht">Lernen Sie uns kennen</button>
    <a id="scrollDown" class="scroll_down">
      <svg class="scroll__arrow" alt="Scroll to down">
        <use xlink:href="#scroll__arrow"></use>
      </svg>
    </a>
  </div><!-- .opener_cta -->

  {% include "partials/index_swiper.njk" %}

</section><!-- .header_stage -->


<section class="intro" id="intro">

  <div class="wrapper">

    <h1 class="h_intro" data="fade-up">Herzlich willkommen! Kurz und knapp: <br><a class="link" href="/leistungen">Gärten sind unsere Leidenschaft.</a></h1>

  </div><!-- .wrapper -->

</section><!-- .intro -->

<section class="intro_numbers">
  <div class="item_1">

    <div class="wrapper grd">
      <p class="copy_intro" data="fade-up">
        Wir <a class="link" href="/idee-beratung-planung">planen</a> Gärten, <a class="link" href="/gartenneubau">realisieren</a> sie und wenn Sie wünschen, <br><a class="link" href="/gartenpflege">unterhalten</a> wir sie.
        <br><br>
        Und das <a class="link" href="/unternehmen">seit 1952</a>. Mit viel Erfahrung und Leidenschaft.
      </p>

      <span data="fade-up delay">{% picture "/startseite/visual_startseite_intro.jpg", "Planen, realisieren und unterhalten – Zimmern Garten und Landschaftsbau GmbH" %}</span>

    </div><!-- .wrapper -->
  </div>

  <div class="item_2 numbers">

    <div class="wrapper">

      <p class="topline" data="fade-up">Zimmern in Zahlen</p>

      <div class="jahre" data="fade-up delay">
        <span class="percent">71</span>
        <p>Jahre Erfahrung</p>

      </div>

      <div class="mitarbeiter" data="fade-up delay">
        <span class="percent">20</span>
        <p>MitarbeiterInnen</p>
      </div>

      <div class="projekte" data="fade-up delay">
        <p>über</p>
        <span class="percent">1000</span>
        <p>Projekte</p>

      </div>

    </div><!-- .wrapper -->

  </div><!-- .numbers -->


</section><!-- .intro_numbers -->


{% include "partials/quicklinks.njk" %}


<section class="teaser_leistungen">

  <div class="wrapper">

    <div class="sctn_content">
      <h2 data="fade-up">Leistungen</h2>
      <p class="copy_intro sxty" data="fade-up delay">Gartenneubau, Baum- und Gartenpflege, Baumschule, Ideenentwicklung, Beratung, Planung ... – was wir tun im Überblick.</p>
    </div><!-- .opener -->

    <div class="tiles">

      <div class="item_1 grd">
        <div data="fade-up" class="lnd">
          {% picture "/startseite/teaser_startseite_gartenneubau.jpg", "Gartenneubau – Zimmern Garten und Landschaftsbau GmbH" %}
        </div>
        <div>
          <h3 data="fade-up">Gartenneubau</h3>
          <p class="copy" data="fade-up delay">Vor, während und nach dem Gartenneubau – vertrauen Sie uns und unserer Kompetenz. In jeder Phase.</p>
          <button class="btn btn_red" onclick="location.href='/gartenneubau'" type="button" data="fade-up">Mehr erfahren</button>
        </div>

      </div><!-- .item_1 -->

      <div class="item_2 grd">
        <div data="fade-up" class="sqr">
          {% picture "/startseite/teaser_startseite_baumpflege.jpg", "Baumpflege – Zimmern Garten und Landschaftsbau GmbH" %}
        </div>
        <div>
          <h3 data="fade-up">Baumpflege</h3>
          <p class="copy" data="fade-up delay">Eine unserer Kernkompetenzen: Sanierungs- und Pflegemaßnahmen Ihrer Bäume.</p>
          <button class="btn btn_red" onclick="location.href='/baumpflege'" type="button" data="fade-up">Mehr erfahren</button>
        </div>
      </div><!-- .item_2 -->

      <div class="item_3 grd">
        <div data="fade-up" class="sqr">
          {% picture "/startseite/teaser_startseite_gartenpflege.jpg", "Gartenpflege – Zimmern Garten und Landschaftsbau GmbH" %}
        </div>
        <div>
          <h3 data="fade-up">Gartenpflege</h3>
          <p class="copy" data="fade-up delay">Ein neuer Garten ist schön. Schön ist es jedoch auch, wenn er es bleibt.</p>
          <button class="btn btn_red" onclick="location.href='/gartenpflege'" type="button" data="fade-up">Mehr erfahren</button>
        </div>
      </div><!-- .item_3 -->

      <div class="item_4 grd">
        <div data="fade-up" class="lnd">
          {% picture "/startseite/teaser_startseite_baumschule.jpg", "Baumschule – Zimmern Garten und Landschaftsbau GmbH" %}
        </div>
        <div>
          <h3 data="fade-up">Baumschule</h3>
          <p class="copy" data="fade-up delay">Machen Sie doch mal einen Spaziergang durch unsere Baumschule. Virtuell und gerne auch vor Ort.</p>
          <button class="btn btn_red" onclick="location.href='/baumschule'" type="button" data="fade-up">Mehr erfahren</button>
        </div>
      </div><!-- .item_4 -->

      <div class="item_5 grd">
        <div data="fade-up" class="sqr">
          {% picture "/startseite/teaser_startseite_baufelderschliessung.jpg", "baufelderschließung – Zimmern Garten und Landschaftsbau GmbH" %}
        </div>
        <div>
          <h3 data="fade-up">Baufelderschließung</h3>
          <p class="copy" data="fade-up delay">Erfahren Sie alles zu unsere Leistung rund um das Thema Baufelderschließung.</p>
          <button class="btn btn_red" onclick="location.href='/baumschule'" type="button" data="fade-up">Mehr erfahren</button>
        </div>
      </div><!-- .item_5 -->

      <div class="item_6 grd">
        <div data="fade-up" class="sqr">
          {% picture "/startseite/teaser_startseite_idee_beratung_planung.jpg", "Idee, Beratung, Planung – Zimmern Garten und Landschaftsbau GmbH" %}
        </div>
        <div>
          <h3 data="fade-up">Idee, Beratung, Planung</h3>
          <p class="copy" data="fade-up delay">Bevor es losgeht braucht es einen Plan. Wir haben ihn, Sie können ihn bekommen.</p>
          <button class="btn btn_red" onclick="location.href='/idee-beratung-planung'" type="button" data="fade-up">Mehr erfahren</button>
        </div>
      </div><!-- .item_6 -->

    </div><!-- .tiles -->

  </div><!-- .wrapper -->

</section>


{% include "partials/projektgalerie_sldr.njk" %}

{% include "partials/reasons_slider.njk" %}

<section class="vacancies">

  <div class="wrapper grd">

    <div data="fade-up" class="item_1">
      {% picture "/startseite/teaser_startseite_karriere.jpg", "Offene Stellen – Zimmern Garten und Landschaftsbau GmbH" %}
    </div>

    <div class="item_2">

        <span data="fade-up" class="topline"><span class="vacancies_amount">3</span> <a class="link" href="/karriere">offene Stellen</a></span>
        <h3 data="fade-up">Karriere</h3>
        <p class="copy" data="fade-up delay">Interesse an einer <a class="link" href="/karriere-ausbildung">Ausbildung?</a> Sie sind <a class="link" href="/karriere-berufserfahrene">berufserfahren</a>? Einfach mal reinschauen – vielleicht ist etwas Passendes dabei.</p>
        <button class="btn btn_red" onclick="location.href='/karriere'" type="button" data="fade-up">Mehr erfahren</button>


    </div>

  </div><!-- .wrapper -->

</section>
