---
title: Karriere Ausbildung

layout: "layouts/base.njk"

seoTitle: Karriere Ausbildung
seoDescription:
metaImage:
---
<section class="detail_stage lax">

  <div class="wrapper">

    <div class="opener">
      <p data="fade-up" class="topline wht">Ausbildung</p>
      <h1 data="fade-up delay" class="wht">Gärtner (m/w/d) Fachrichtung Garten- und Landschaftsbau</h1>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

  <div class="visual"></div>
  {% picture "karriere-ausbildung.png", "Karriere Ausbildung – Zimmern Garten und Landschaftsbau GmbH" %}

</section><!-- .header_stage -->


<section class="intro bg8">

  <div class="wrapper">

    <div class="intro_content sxty">


      <p class="copy_intro" data="fade-up delay">
        Lorem ipsum kurze Einleitung <strong>zur Ausbildung / zur Ausbildungsstelle bei Zimmern</strong>. Dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. <br><br>
        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      </p>

    </div><!-- .intro_content -->

  </div><!-- .wrapper -->

</section><!-- .intro -->


<section class="sctn gartenplanung">

  <div class="wrapper">

    <div class="sctn_content">

      <h2 data="fade-up delay">Deine Tätigkeiten</h2>

      <ul data="fade-up delay" class="gp_detail__content grd">
        <li>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit
        </li>
        <li>
          Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu
        </li>
        <li>
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
        </li>
        <li>
          In enim justo, rhoncus ut, imperdiet a
        </li>
        <li>
          Donec quam felis, ultricies nec, pellentesque eu
        </li>
        <li>
          Nullam dictum felis eu pede mollis pretium. Integer tincidunt
        </li>
      </ul>

    </div><!-- .sctn_content -->

    <div class="sctn_content mt-20">

      <h2 data="fade-up delay">Was wir Dir bieten</h2>

      <ul data="fade-up delay" class="gp_detail__content grd">
        <li>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit
        </li>
        <li>
          Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu
        </li>
        <li>
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
        </li>
        <li>
          In enim justo, rhoncus ut, imperdiet a
        </li>
        <li>
          Donec quam felis, ultricies nec, pellentesque eu
        </li>
        <li>
          Nullam dictum felis eu pede mollis pretium. Integer tincidunt
        </li>
      </ul>

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->

</section><!-- .gartenplanung -->


{% include "partials/kontakt.njk"%}

<section class="sctn gartenplanung">

  <div class="wrapper">

    <div class="sctn_content">

    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->

</section><!-- .gartenplanung -->

{% include "partials/in_numbers.njk"%}

{% include "partials/quicklinks.njk" %}
