---
title: Karriere

layout: "layouts/base.njk"

seoTitle: Karriere
seoDescription:
metaImage:
---
<section class="detail_stage lax bg8">

  <div class="wrapper">

    <div class="opener">
      <h1>Karriere</h1>
      <p class="copy">
        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
      </p>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

</section><!-- .header_stage -->

<section class="teaser__karriere">

  <div class="wrapper">

    <div class="tiles">

      <div class="item_2 grd">
        <div data="fade-up" class="lnd lft">
          {% picture "ausbildung-teaser.png", "Karriere Ausbildung – Zimmern Garten und Landschaftsbau GmbH" %}
        </div>
        <div>
          <h3 data="fade-up">Ausbildung</h3>
          <p class="copy" data="fade-up delay">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</p>
          <button class="btn btn_red" onclick="location.href='/karriere-ausbildung'" type="button" data="fade-up">Mehr erfahren</button>
        </div>

      </div><!-- .item_2 -->

      <div class="item_3 grd">
        <div data="fade-up" class="sqr">
          {% picture "karriere-berufserfahrene.png", "Karriere Berufserfahrene – Zimmern Garten und Landschaftsbau GmbH" %}
        </div>
        <div>
          <h3 data="fade-up">Berufserfahrene</h3>
          <p class="copy" data="fade-up delay">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</p>
          <button class="btn btn_red" onclick="location.href='/karriere-berufserfahrene'" type="button" data="fade-up">Mehr erfahren</button>
        </div>
      </div><!-- .item_3 -->

    </div><!-- .tiles -->

  </div><!-- .wrapper -->

</section>

{% include "partials/quicklinks.njk" %}
