<footer>

  <div class="wrapper grd">
    <div class="item_1">
      <h2 data="fade-up">Kontakt</h2>
    </div><!-- .item_1 -->

    <div class="item_2">
      <h4 class="line" data="fade-up">AnsprechpartnerInnen</h4>
      <ul class="ansprechpartner" data="fade-up delay">
        <li class="person">
          <span class="profile">
            {% picture "/portraits/portrait_zimmern_miles.png", "Miles Zimmern – Zimmern Garten- und Landschaftsbau GmbH" %}
          </span>
          <p class="name">
            Miles Zimmern
          </p>
          <p class="pro">
            Geschäftsführer
          </p>
        </li>
        <li class="person">
          <span class="profile">
            {% picture "/portraits/portrait_zimmern_charlotte.png", "Charlotte Zimmern – Zimmern Garten- und Landschaftsbau GmbH" %}
          </span>
          <p class="name">
            Charlotte Zimmern
          </p>
          <p class="pro">
            Meisterin im Garten- und Landschaftsbau
          </p>
        </li>
        <li class="person">
          <span class="profile">
            {% picture "/portraits/portrait_poppinga_anke.png", "Anke Poppinga – Zimmern Garten- und Landschaftsbau GmbH" %}
          </span>
          <p class="name">
            Anke Poppinga
          </p>
          <p class="pro">
            Landespflege und Objektplanung
          </p>
        </li>
        <li class="person">
          <span class="profile">
            {% picture "/portraits/portrait_peleikis_fritz.png", "Fritz Peleikis – Zimmern Garten- und Landschaftsbau GmbH" %}
          </span>
          <p class="name">
            Fritz Peleikis
          </p>
          <p class="pro">
            Buchhaltung
          </p>
        </li>
        <li class="person">
          <span class="profile">
            {% picture "/portraits/portrait_peleikis-zimmern_julia.png", "Julia Peleikis-Zimmern – Zimmern Garten- und Landschaftsbau GmbH" %}
          </span>
          <p class="name">
            Julia Peleikis-Zimmern
          </p>
          <p class="pro">
            Personalwesen
          </p>
        </li>


      </ul>
    </div><!-- .item_2 -->

    <div class="item_3">
      <div class="meta_informations">
        <h4 class="line" data="fade-up">Adresse & Kontakt</h4>
        <div class="meta_informations__item" data="fade-up">
          <p>
            <strong>Miles Zimmern Garten- und<br>
            Landschaftsbau GmbH<br></strong>
            Groten Flerren 38<br>
            22559 Hamburg
          </p>
        </div><!-- .meta_informations__item -->

        <div class="meta_informations__item" data="fade-up">
          <p>
            Telefon: <span class="spc">040 . 81 58 03</span><br>
            Telefax: <span class="spc">040 . 81 99 02 39</span><br><br>

            <span class="spc_psh">E-Mail:</span> <a class="beta_link link wht" href="mailto:zimmern@rissen.de">zimmern@rissen.de</a>
          </p>
        </div><!-- .meta_informations__item -->

        <div class="meta_informations__item" data="fade-up">
          <strong>Unsere Bürozeiten</strong>
          <ul class="oeffnungszeiten">
            <li><span>Mo-Fr:</span> <span class="spc">8:00 - 16:00 Uhr</span></li>
            <li><span>Sa:</span> <span class="spc">8:00 – 12:00 Uhr</span></li>
          </ul>
        </div><!-- .meta_informations__item -->

      </div><!-- .meta_informations -->

      <div class="follow" data="fade-up">
        <h4 class="line">Folgen Sie uns</h4>
         <a href="https://www.instagram.com/zimmerngartenbau/" target="_blank" rel="noopener noreferrer nofollow">
          <svg class="insta__icon" alt="Instagram">
            <use xlink:href="#insta__icon"></use>
          </svg>
        </a>

      </div><!-- .follow -->

    </div><!-- .item_3 -->


    <div class="item_4">
      <div class="directions">
        <h2 class="line" data="fade-up">Ihr Weg zu uns</h2>
        <iframe data="fade-up" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37887.73246739988!2d9.728747508522893!3d53.59375998003154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b1822b8f10b7ff%3A0x98df2d9ec82195e!2sMiles%20Zimmern%20Garten-%20und%20Landschaftsbau%20GmbH!5e0!3m2!1sde!2sde!4v1682420522117!5m2!1sde!2sde" width="100%" height="680" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div><!-- .directions -->

    </div><!-- .item_5 -->

  </div><!-- .wrapper -->

  <div class="footer_bar">

    <div class="wrapper">
      <ul class="footer_links legal">
        <li><a class="footer_links__item" href="/datenschutz">Datenschutzerklärung</a></li>
        <li>
          <span class="scrollUp">
            <svg class="scrollUp__icon" alt="Scroll to Top">
              <use xlink:href="#scrollUp__icon"></use>
            </svg>
          </span>
        </li>
        <li><a class="footer_links__item" href="/impressum">Impressum</a></li>
      </ul>

    </div><!-- .wrapper -->

  </div><!-- .footer_bar -->


</footer><!-- footer-->
