<section class="historie_sldr">

  <div class="wrapper">

    <div class="item_1">
      <div>

        <!-- Slider main container -->
        <div class="swiper historie_swiper sldr">

          <h2 data="fade-up">Unsere Historie</h2>

          <!-- If we need navigation buttons -->
          <div class="swiper-nav">
            <div class="swiper-btn-prev">
              <svg class="next_btn" alt="Previous Slide">
                <use xlink:href="#next_btn"></use>
              </svg>
            </div>

            <div class="swiper-btn-next">
              <svg class="next_btn" alt="Next Slide">
                <use xlink:href="#next_btn"></use>
              </svg>
            </div>
          </div>

          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">

            <!-- Slides -->
            <div class="swiper-slide">

              <a href="#content_1950" data-dimbox="gllry_historie">{% picture "/historie/visual_historie_zimmern_1950.jpg", "Historie in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
              <h1>1950</h1>
              <p>Jürgen Zimmern fängt mit einem rostigen Spaten an.</p>
             
              <div id="content_1950" class="d-none">
                <div class="historie_content">
                  <div class="item_1">
                    {% picture "/historie/visual_historie_zimmern_1950.jpg", "Historie in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}
                  </div>
                  <div class="item_2">
                    <p>Jürgen Zimmern fängt 1950 mit einem rostigen Spaten im großelterlichen – elterlichen Hausgarten Rüdigerau 14 an.</p>
                  </div>
                </div>
              </div>
              
            </div>

            <div class="swiper-slide">

              <a href="#content_1952" data-dimbox="gllry_historie">{% picture "/historie/visual_historie_zimmern_1952.jpg", "Historie in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>

              <h1>1952</h1>
              <p>Gründung des Unternehmen in Hamburg-Rissen durch Jürgen Zimmern.</p>

              <div id="content_1952" class="d-none">
                <div class="historie_content">
                  <div class="item_1">
                    {% picture "/historie/visual_historie_zimmern_1952.jpg", "Historie in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}
                  </div>
                  <div class="item_2">
                    <p>Wir sind ein moderner Familienbetrieb, dessen Gründung im Jahr 1952 in Hamburg-Rissen durch Jürgen Zimmern erfolgte. <br><br>
                      Er begann als “Einzelkämpfer” mit einem rostigen Spaten im heimischen Garten und hatte für den Außendienst ein Motorrad mit Anhänger. In den nächsten Jahrzehnten erfolgte Ankauf und Pacht mehrerer Flächen im Klövensteen für die Entwicklung der Baumschule, insgesamt 5 ha. <br><br>
                      Neben den verschiedensten Stauden wurden vornehmlich immergrüne Formgehölze kultiviert, einige sind inzwischen 80 Jahre und älter. Spezialitäten bis heute: Solitärpflanzen, große Bonsai, Rhododendren und Großbäume.</p>
                  </div>
                </div>
              </div>

            </div>

            <div class="swiper-slide">

              <a href="#content_1953" data-dimbox="gllry_historie">{% picture "/historie/visual_historie_zimmern_1973.jpg", "Historie in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
              <h1>1953 - 73</h1>
              <p>Teilnahme an den Wettbewerben der IGA in Hamburg</p>

              <div id="content_1953" class="d-none">
                <div class="historie_content">
                  <div class="item_1">
                    {% picture "/historie/visual_historie_zimmern_1973.jpg", "Historie in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}
                  </div>
                  <div class="item_2">
                    <p>In den Jahren 1953, 1963 und 1973 nahm Jürgen Zimmern an den Wettbewerben der IGA in Hamburg teil und gewann mehrere Medaillen.</p>
                  </div>
                </div>
              </div>

            </div>

            <div class="swiper-slide">

              <a href="#content_1993" data-dimbox="gllry_historie">{% picture "/historie/visual_historie_zimmern_1993.jpg", "Historie in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
              <h1>1993</h1>
              <p>Übernahme durch Miles Zimmern</p>

              <div id="content_1993" class="d-none">
                <div class="historie_content">
                  <div class="item_1">
                    {% picture "/historie/visual_historie_zimmern_1993.jpg", "Historie in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}
                  </div>
                  <div class="item_2">
                    <p>1993 übernahm Jürgens Sohn Miles Zimmern, Gartenbautechniker (Fachschule für Gartenbau Dresden Pillnitz), die Baumschule. <br><br>
                    Gleichzeitig entwickelte sich der Garten- und Landschaftsbau zu einem Fachbetrieb mit heute 20 Mitarbeitern.</p>
                  </div>
                </div>
              </div>

            </div>

            <div class="swiper-slide">

              <a href="#content_2013" data-dimbox="gllry_historie">{% picture "/historie/visual_historie_zimmern_2013.jpg", "Historie in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}</a>
              <h1>2013</h1>
              <p>Gründung des Unternehmen in Hamburg-Rissen durch Jürgen Zimmern.</p>

              <div id="content_2013" class="d-none">
                <div id="zwanzig13" class="historie_content">
                  <div class="item_1">
                    {% picture "/historie/visual_historie_zimmern_2013.jpg", "Historie in Bildern – Zimmern Garten- und Landschaftsbau GmbH" %}
                  </div>
                  <div class="item_2">
                    <p>Unter Mitarbeit von Zimmern wurde 2013 bei der internationalen Gartenschau Hamburg der Garten “In trockenen Tüchern. Shanghai – Baumwolle und Taihu-Steine” entwickelt.<br><br>
                      Vom Mittelpunkt des Gartens aus öffnet sich das Panorama der (kontrast-)reichen Gartenkunst Chinas: Im „Staudengarten“ zeigt sich die Pracht der chinesischen Flora. Der „Rasengarten“ veranschaulicht die terrassierte Modellierung der Landschaften. Der Drache, ein natürlich geformter Stein, rastet an einem imaginären Wasserloch. Der „Lochsteingarten“ Taihu ist voller Zitate chinesischer Gartenbaukunst – von Kiesflächen über eine traditionell geschnittene Schwarzkiefer bis zu einer Formation aus Lochsteinen. Eingefasst von einer Bambushecke ist schließlich der „Ruhegarten“ ein Ort der Reflexion über Vielfalt und Schönheit der chinesischen Landschaft und Gartenkunst.<br><br>
                      Entwurf: Hartmut Mumme & Horst Rödeler, Salzburg<br><br>
                      Der Garten wurde mit dem BGL-Preis 2013 des Bundesverbands Garten-, Landschafts- und Sportplatzbau ausgezeichnet.</p>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>


        </div>

      </div>
    </div>

  </div><!-- .wrapper -->

</section>
