<section class="historie_sldr">

  <div class="wrapper">

    <div class="item_1">
      <div>

        <!-- Slider main container -->
        <div class="swiper historie_swiper sldr">

          <h2 data="fade-up">Unsere Historie</h2>

          <!-- If we need navigation buttons -->
          <div class="swiper-nav">
            <div class="swiper-btn-prev">
              <svg class="next_btn" alt="Previous Slide">
                <use xlink:href="#next_btn"></use>
              </svg>
            </div>

            <div class="swiper-btn-next">
              <svg class="next_btn" alt="Next Slide">
                <use xlink:href="#next_btn"></use>
              </svg>
            </div>
          </div>

          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">

            <!-- Slides -->
            <div class="swiper-slide">

              {% picture "historie_03.png", "Zimmern Garten und Landschaftsbau GmbH" %}
              <h1>1950</h1>
              <p>Jürgen Zimmern fängt mit einem rostigen Spaten im großelterlichen – elterlichen Hausgarten Rüdigerau 14 an.</p>

            </div>

            <div class="swiper-slide">

              {% picture "historie_01.png", "Zimmern Garten und Landschaftsbau GmbH" %}
              <h1>1952</h1>
              <p>Gründung des Unternehmen in Hamburg-Rissen durch Jürgen Zimmern.</p>

            </div>

            <div class="swiper-slide">

              {% picture "historie_02.png", "Zimmern Garten und Landschaftsbau GmbH" %}
              <h1>1955</h1>
              <p>Im Außendienst mit Motorrad und Anhänger.</p>

            </div>

            <div class="swiper-slide">

              {% picture "historie_03.png", "Zimmern Garten und Landschaftsbau GmbH" %}
              <h1>1950</h1>
              <p>Jürgen Zimmern fängt mit einem rostigen Spaten im großelterlichen – elterlichen Hausgarten Rüdigerau 14 an.</p>

            </div>

            <div class="swiper-slide">

              {% picture "historie_01.png", "Zimmern Garten und Landschaftsbau GmbH" %}
              <h1>1952</h1>
              <p>Gründung des Unternehmen in Hamburg-Rissen durch Jürgen Zimmern.</p>

            </div>

            <div class="swiper-slide">

              {% picture "historie_02.png", "Zimmern Garten und Landschaftsbau GmbH" %}
              <h1>1955</h1>
              <p>Im Außendienst mit Motorrad und Anhänger.</p>

            </div>

            <div class="swiper-slide">

              {% picture "historie_03.png", "Zimmern Garten und Landschaftsbau GmbH" %}
              <h1>1950</h1>
              <p>Jürgen Zimmern fängt mit einem rostigen Spaten im großelterlichen – elterlichen Hausgarten Rüdigerau 14 an.</p>

            </div>

            <div class="swiper-slide">

              {% picture "historie_01.png", "Zimmern Garten und Landschaftsbau GmbH" %}
              <h1>1952</h1>
              <p>Gründung des Unternehmen in Hamburg-Rissen durch Jürgen Zimmern.</p>

            </div>

            <div class="swiper-slide">

              {% picture "historie_02.png", "Zimmern Garten und Landschaftsbau GmbH" %}
              <h1>1955</h1>
              <p>Im Außendienst mit Motorrad und Anhänger.</p>

            </div>


          </div>

          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>


        </div>

      </div>
    </div>

  </div><!-- .wrapper -->

</section>
