<section class="in_numbers">

    <div class="wrapper">

      <p class="topline" data="fade-up">Zimmern in Zahlen</p>

      <div class="jahre" data="fade-up delay">
        <span class="percent">71</span>
        <p>Jahre Erfahrung</p>

      </div>

      <div class="mitarbeiter" data="fade-up delay">
        <span class="percent">20</span>
        <p>MitarbeiterInnen</p>
      </div>

      <div class="projekte" data="fade-up delay">
        <p>über</p>
        <span class="percent">1000</span>
        <p>Projekte</p>

      </div>

      <div class="insta">
        <a href="https://www.instagram.com/zimmerngartenbau/" target="_blank" rel="noopener noreferrer nofollow">
         <svg class="insta__icon" alt="Instagram">
           <use xlink:href="#insta__icon"></use>
         </svg>
       </a>
        <p>
          Oder schau bei <a class="link" href="https://www.instagram.com/zimmerngartenbau/" target="_blank" rel="noopener noreferrer nofollow">@zimmerngartenbau</a> vorbei.
        </p>
      </div>

    </div><!-- .wrapper -->

</section><!-- .in_numbers -->
