<!-- Slider main container -->
<div class="swiper index_swiper">

  <div class="visual"></div>

  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">

    <!-- Slides -->
    <div class="swiper-slide">
      {% picture "/galleries/visual_gallery_gartenneubau_12.jpg", "Impressionen – Zimmern Garten- und Landschaftsbau GmbH" %}
    </div>

    <div class="swiper-slide">
      {% picture "/galleries/visual_gallery_gartenneubau_54.jpg", "Impressionen – Zimmern Garten- und Landschaftsbau GmbH" %}
    </div>

     <div class="swiper-slide">
      {% picture "/galleries/visual_gallery_baumpflege_11.jpg", "Impressionen – Zimmern Garten- und Landschaftsbau GmbH" %}
    </div>

    <div class="swiper-slide">
      {% picture "/galleries/visual_gallery_gartenneubau_50.jpg", "Impressionen – Zimmern Garten- und Landschaftsbau GmbH" %}
    </div>

    <div class="swiper-slide">
      {% picture "/galleries/visual_gallery_gartenneubau_25.jpg", "Impressionen – Zimmern Garten- und Landschaftsbau GmbH" %}
    </div>

    <div class="swiper-slide">
      {% picture "/galleries/visual_gallery_baumpflege_04.jpg", "Impressionen – Zimmern Garten- und Landschaftsbau GmbH" %}
    </div>

    <div class="swiper-slide">
      {% picture "/galleries/visual_gallery_gartenneubau_18.jpg", "Impressionen – Zimmern Garten- und Landschaftsbau GmbH" %}
    </div>

    <div class="swiper-slide">
      {% picture "/galleries/visual_gallery_gartenpflege_23.jpg", "Impressionen – Zimmern Garten- und Landschaftsbau GmbH" %}
    </div>

    <div class="swiper-slide">
      {% picture "/galleries/visual_gallery_gartenneubau_07.jpg", "Impressionen – Zimmern Garten- und Landschaftsbau GmbH" %}
    </div>

  </div>

</div>
