<!-- Slider main container -->
<div class="swiper index_swiper">

  <div class="visual"></div>

  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">

    <!-- Slides -->
    <div class="swiper-slide">
      {% picture "stage_header_01.png", "Gartenneubau – Zimmern Garten- und Landschaftsbau GmbH" %}
    </div>

    <div class="swiper-slide">
      {% picture "/baumschule/baumschule_08.jpg", "Gartenneubau – Zimmern Garten- und Landschaftsbau GmbH" %}
    </div>

    <div class="swiper-slide">
      {% picture "stage_header_03.png", "Gartenneubau – Zimmern Garten- und Landschaftsbau GmbH" %}
    </div>

    <div class="swiper-slide">
      {% picture "stage_header_04.png", "Gartenneubau – Zimmern Garten- und Landschaftsbau GmbH" %}
    </div>

  </div>

</div>
