<!-- Slider main container -->
<div class="swiper index_swiper">

  <div class="visual"></div>

  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">

    <!-- Slides -->
    <div class="swiper-slide">
      {% picture "/startseite/visual_stage_startseite_01.jpg", "Impressionen – Zimmern Garten- und Landschaftsbau GmbH" %}
    </div>

    <div class="swiper-slide">
      {% picture "/startseite/visual_stage_startseite_02.jpg", "Impressionen – Zimmern Garten- und Landschaftsbau GmbH" %}
    </div>

     <div class="swiper-slide">
      {% picture "/startseite/visual_stage_startseite_03.jpg", "Impressionen – Zimmern Garten- und Landschaftsbau GmbH" %}
    </div>

    <div class="swiper-slide">
      {% picture "/startseite/visual_stage_startseite_04.jpg", "Impressionen – Zimmern Garten- und Landschaftsbau GmbH" %}
    </div>

  </div>

</div>
