<section class="sctn contact">
  <div class="wrapper grd">
    
    <div class="sctn_content form_section">

			<h2 data="fade-up">Der ganz schnelle Weg</h2>
      <p class="copy_intro" data="fade-up delay">
        Du hast Fragen zu dem Thema Ausbildung oder interessierst Dich für unsere <a class="link" href="/#">Schnuppertage</a>? Dann schreib uns einfach eine Nachricht. <br><br>
        Oder noch direkter: Ruf uns unter <a class="link" href="tel:+4940815803">040 . 81 58 03</a> an. Wie's Dir lieber ist.
      </p>

			<form id="kontakt_ausbildung" name="kontakt_ausbildung" method="POST" netlify action="{{ page.url }}" data="fade-up" autocomplete="on" novalidate>

      <fieldset data="fade-up" class="client_contact">

        <label for="name">Name*
          <input type="text" id="name" name="name" required/>
					<span class="error-message">Bitte füllen Sie dieses Formularfeld aus.</span>
        </label>


        <label for="email">E-Mail-Adresse*
          <input type="email" id="email" name="email" required/>
					<span class="error-message">Bitte füllen Sie dieses Formularfeld aus.</span>
        </label>

				<label for="tel">Telefon
          <input type="tel" id="tel" name="tel" pattern="[0-9]"/>
        </label>

      </fieldset>


      <fieldset data="fade-up delay" class="message">

        <label for="message">Nachricht*
          <textarea id="message" name="message" required></textarea>
					<span class="error-message">Bitte füllen Sie dieses Formularfeld aus.</span>
        </label>

      </fieldset>

			<fieldset data="fade-up" class="privacy">
      	<label for="datenschutz">
					<input type="checkbox" id="datenschutz" name="datenschutz" required>
					<p>Ich habe die <a href="/datenschutz" class="link">Datenschutzbestimmungen</a> gelesen und akzeptiere diese.*</p>
					<span class="error-message">Bitte stimmen Sie den Datenschutzbestimmungen zu.</span>
				</label>
			</fieldset>
			<p data="fade-up">* Pflichtfelder</p>
      <span data="fade-up delay">

        <button class="btn btn_red" type="submit" data="fade-up">Formular abschicken</button>

      </span>

    </form>


    </div><!-- .sctn_content -->

    <div class="sctn_content success hidden">
      <h2 data="fade-up">Vielen Dank!</h2>
      <p class="copy_intro" data="fade-up delay">
        Deine Nachricht ist angekommen und wir melden uns zeitnah bei Dir.
      </p>
    </div>

  </div><!-- .wrapper -->
</section><!-- .contact -->
