<section class="sctn contact">
  <div class="wrapper grd">

    <div class="sctn_content">

			<h2 data="fade-up">Interesse? Jetzt bewerben</h2>
      <p class="copy_intro" data="fade-up delay">
        Einfach das Formular ausfüllen und abschicken. Wir werden uns zeitnah bei Ihnen melden.<br><br>
        Falls Sie vorab noch Fragen haben: Ruf Sie uns unter <a class="link" href="tel:+4940815803">040 . 81 58 03</a> an.
      </p>

			<form id="kontakt_berufserfahren_bewerbung" name="kontakt_berufserfahren_bewerbung" method="POST" data-netlify="true" data="fade-up">

      <fieldset data="fade-up" class="client_contact">

        <span class="ansprache">
          <label for="Frau">
            <input class="radio" type="checkbox" name="Ansprache" />
            Frau
          </label>
          <label for="Herr">
            <input class="radio" type="checkbox" name="Ansprache" />
            Herr
          </label>
          <label for="Divers">
            <input class="radio" type="checkbox" name="Ansprache" />
            Divers
          </label>
        </span>

        <label for="Name">Vorname*
          <input type="text" id="vorname" name="Vorname" required/>
					<span class="error-message">Bitte füllen Sie dieses Formularfeld aus.</span>
        </label>

        <label for="Name">Nachname*
          <input type="text" id="nachname" name="Nachname" required/>
					<span class="error-message">Bitte füllen Sie dieses Formularfeld aus.</span>
        </label>


        <label for="Email">E-Mail-Adresse*
          <input type="email" id="email" name="Email" required/>
					<span class="error-message">Bitte füllen Sie dieses Formularfeld aus.</span>
        </label>

				<label for="Telefon">Telefon
          <input type="tel" id="phone" name="Telefon" pattern="[0-9]"/>
        </label>

      </fieldset>


      <fieldset data="fade-up delay" class="message">

        <label for="message">Nachricht*
          <textarea id="message" name="message" required></textarea>
					<span class="error-message">Bitte füllen Sie dieses Formularfeld aus.</span>
        </label>

      </fieldset>

			<fieldset data="fade-up" class="privacy">
      	<label for="datenschutz">
					<input type="checkbox" id="datenschutz" name="datenschutz" required>
					<p>Ich habe die <a href="/datenschutz" class="link">Datenschutzbestimmungen</a> gelesen und akzeptiere diese.*</p>
					<span class="error-message">Bitte stimmen Sie den Datenschutzbestimmungen zu.</span>
				</label>
			</fieldset>
			<p data="fade-up">* Pflichtfelder</p>
      <span data="fade-up delay">

        <button class="btn btn_red" type="submit" data="fade-up">Formular abschicken</button>

      </span>

    </form>


    </div><!-- .sctn_content -->

  </div><!-- .wrapper -->
</section><!-- .contact -->
