<section class="sctn contact">
  <div class="wrapper grd">

    <div class="sctn_content">

			<h2 data="fade-up">Interesse? Jetzt bewerben</h2>
      <p class="copy_intro" data="fade-up delay">
        Einfach das Formular ausfüllen und abschicken. Wir werden uns zeitnah bei Dir melden.<br><br>
        Falls Du vorab noch Fragen hast: Ruf uns unter <a class="link" href="tel:+4940815803">040 . 81 58 03</a> an.
      </p>

			<form id="kontakt_ausbildung_bewerbung" class="bewerbung" name="kontakt_ausbildung_bewerbung" method="POST" action="/contact" enctype="multipart/form-data" netlify data-netlify-honeypot="true" data="fade-up" autocomplete="on" novalidate>

      <fieldset data="fade-up" class="client_contact">

        <span class="ansprache">
          <label for="frau">
            <input class="radio" type="checkbox" name="Ansprache" />
            Frau
          </label>
          <label for="herr">
            <input class="radio" type="checkbox" name="Ansprache" />
            Herr
          </label>
          <label for="divers">
            <input class="radio" type="checkbox" name="Ansprache" />
            Divers
          </label>
        </span>

        <label for="vorname">Vorname*
          <input type="text" id="vorname" name="vorname" required/>
					<span class="error-message">Bitte füllen Sie dieses Formularfeld aus.</span>
        </label>

        <label for="nachname">Nachname*
          <input type="text" id="nachname" name="nachname" required/>
					<span class="error-message">Bitte füllen Sie dieses Formularfeld aus.</span>
        </label>


        <label for="email">E-Mail-Adresse*
          <input type="email" id="email" name="email" required/>
					<span class="error-message">Bitte füllen Sie dieses Formularfeld aus.</span>
        </label>

				<label for="tel">Telefon
          <input type="tel" id="tel" name="tel" pattern="[0-9]"/>
        </label>

      </fieldset>


      <fieldset data="fade-up delay" class="message">

        <label for="message">Nachricht*
          <textarea id="message" name="message" required></textarea>
					<span class="error-message">Bitte füllen Sie dieses Formularfeld aus.</span>
        </label>

      </fieldset>

      <fieldset data="fade-up delay" class="files">
        <ul class="fileUpload_fields">
           <li>
            <label for="anschreiben">Anschreiben hochladen (PDF, max. 4 MB) *</label>
            <input type="file" id="anschreiben" name="anschreiben" class="fileUploadBtn" accept="application/pdf" required="">
            <button id="clear_anschreiben" class="clear-file-button" type="button" data-input="anschreiben" onclick="clearFileInput('anschreiben')"></button>
            <span class="error-message" id="anschreiben-error" style="display: none;">Bitte füllen Sie dieses Formularfeld aus.</span>
          </li>
          <li>
            <label for="foto">Foto hochladen (JPG, max. 4 MB)*</label>
            <input type="file" id="foto" name="foto" class="fileUploadBtn" accept="image/jpeg" required>
            <button id="clear_foto" class="clear-file-button" type="button" data-input="foto" onclick="clearFileInput('foto')"></button>
            <span class="error-message" id="foto-error" style="display: none;">Bitte füllen Sie dieses Formularfeld aus.</span>
          </li>
          <li>
            <label for="lebenslauf">Lebenslauf hochladen (PDF, max. 4 MB)*</label>
            <input type="file" id="lebenslauf" name="lebenslauf" class="fileUploadBtn" accept="application/pdf" required>
            <button id="clear_lebenslauf" class="clear-file-button" type="button" data-input="lebenslauf" onclick="clearFileInput('lebenslauf')"></button>
            <span class="error-message" id="lebenslauf-error" style="display: none;">Bitte füllen Sie dieses Formularfeld aus.</span>
          </li>
          <li>
            <label for="weitereDateien">Weitere Datei hochladen (PDF/JPG/MOV, max. 4 MB)</label>
            <input type="file" id="weitereDateien" name="weitereDateien" class="fileUploadBtn" accept="application/pdf, image/jpeg, video/*">
            <button id="clear_weitereDateien" class="clear-file-button" type="button" data-input="weitereDateien" onclick="clearFileInput('weitereDateien')"></button>
          </li>
        </ul>
      </fieldset>
      

			<fieldset data="fade-up" class="privacy">
        <div class="datenschutz-checkbox">
          <input type="checkbox" id="datenschutz" name="datenschutz" required>
          <label for="datenschutz" class="datenschutz-label">
            <p>Ich habe die <a href="/datenschutz" class="link">Datenschutzbestimmungen</a> gelesen und akzeptiere diese.*</p>
            <span class="error-message">Bitte stimmen Sie den Datenschutzbestimmungen zu.</span>
          </label>
        </div>       
      </fieldset>

			<p data="fade-up">* Pflichtfelder</p>
      
      <span class="submitBtn" data="fade-up delay">

        <button class="btn btn_red" type="submit" data="fade-up">Formular abschicken</button>

      </span>

    </form>


    </div><!-- .sctn_content -->

    <div id="success-kontakt_ausbildung_bewerbung" class="sctn_content success hidden">
      <h2 data="fade-up">Vielen Dank!</h2>
      <p class="copy_intro" data="fade-up delay">
        Deine Bewerbung ist angekommen und wir melden uns zeitnah bei Dir.
      </p>
    </div>

  </div><!-- .wrapper -->
</section><!-- .contact -->
