<section class="sctn contact" id="contact">
  <div class="wrapper grd">

    <div class="sctn_content">

			<h2 data="fade-up">Sie haben Fragen?</h2>
      <!--<p class="copy_intro" data="fade-up delay">
				Sie möchten mehr über unsere Leistung “Gartenplanung” erfahren? Wir können etwas für Sie tun? Wir freuen uns von Ihnen zu lesen und werden uns zeitnah bei Ihnen melden.
      </p>-->

			<form id="kontakt" name="kontakt" method="POST" netlify data-netlify-honeypot="true" data="fade-up" autocomplete="on" novalidate>
        

      <fieldset data="fade-up" class="client_contact">

        <label for="name">Name*
          <input type="text" id="name" name="name" minlength="2" required/>
					<span class="error-message">Bitte füllen Sie dieses Formularfeld aus.</span>
        </label>


        <label for="email">E-Mail-Adresse*
          <input type="email" id="email" name="email" required/>
					<span class="error-message">Bitte füllen Sie dieses Formularfeld aus.</span>
        </label>

				<label for="tel">Telefon
          <input type="tel" id="tel" name="tel" pattern="[0-9]"/>
        </label>

				<label for="interesse">Ich interessiere mich für ...
          <select id="interesse" name="interesse">
            <option value="Bitte wählen" disabled selected>Bitte wählen</option>
            <option value="Gartenneubau">Gartenneubau</option>
            <option value="Baumpflege">Baumpflege</option>
						<option value="Gartenpflege">Gartenpflege</option>
            <option value="Baumschule">Baumschule</option>
            <option value="Baufelderschließung">Baufelderschließung</option>
            <option value="Idee, Beratung, Planung">Idee, Beratung, Planung</option>
          </select>
        </label>

      </fieldset>


      <fieldset data="fade-up delay" class="message">

        <label for="message">Nachricht*
          <textarea id="message" name="message" minlength="2" required></textarea>
					<span class="error-message">Bitte füllen Sie dieses Formularfeld aus.</span>
        </label>

      </fieldset>

			<fieldset data="fade-up" class="privacy">
      	<label for="datenschutz">
					<input type="checkbox" id="datenschutz" name="datenschutz" required>
					<p>Ich habe die <a href="/datenschutz" class="link">Datenschutzbestimmungen</a> gelesen und akzeptiere diese.*</p>
					<span class="error-message">Bitte stimmen Sie den Datenschutzbestimmungen zu.</span>
				</label>
			</fieldset>
			<p data="fade-up">* Pflichtfelder</p>
      <span data="fade-up delay">

        <button class="btn btn_red" type="submit" data="fade-up">Formular abschicken</button>

      </span>

    </form>


    </div><!-- .sctn_content -->

    <div id="success" class="sctn_content success hidden">
      <h2 data="fade-up">Vielen Dank!</h2>
      <p class="copy_intro" data="fade-up delay">
        Ihre Nachricht ist angekommen und wir melden uns zeitnah bei Ihnen.
      </p>
    </div>

  </div><!-- .wrapper -->
</section><!-- .contact -->
