<section class="sctn contact">
  <div class="wrapper grd">

    <div class="sctn_content">

			<h2 data="fade-up">Der ganz schnelle Weg</h2>
      <p class="copy_intro" data="fade-up delay">
        Sie haben Fragen zu dem Thema Karriere bei Zimmern? Dann schreiben Sie uns einfach eine Nachricht.<br><br>
        Oder noch direkter: Rufen Sie uns unter <a class="link" href="tel:+4940815803">040 . 81 58 03</a> an. Wie es Ihnen lieber ist.
      </p>

			<form id="kontakt_berufserfahren" name="kontakt_berufserfahren" method="POST" netlify data="fade-up" autocomplete="on" novalidate>

      <fieldset data="fade-up" class="client_contact">

        <span class="field_half">
          <label for="name">Name*</label>
          <input type="text" id="name" name="name" required/>
          <span class="error-message">Bitte füllen Sie dieses Formularfeld aus.</span>
        </span>

        <span class="field_half">
          <label for="email">E-Mail-Adresse*</label>
          <input type="email" id="email" name="email" required/>
          <span class="error-message">Bitte füllen Sie dieses Formularfeld aus.</span>
        </span>

        <span class="field_half">
          <label for="tel">Telefon</label>
          <input type="tel" id="tel" name="tel" pattern="[0-9]"/>
        </span>

      </fieldset>


      <fieldset data="fade-up delay" class="message">
        
        <label for="message">Nachricht*</label>
        <textarea id="message" name="message" required></textarea>
        <span class="error-message">Bitte füllen Sie dieses Formularfeld aus.</span>

      </fieldset>

			<fieldset data="fade-up" class="privacy">
        <div class="datenschutz-checkbox">
          <input type="checkbox" id="datenschutz" name="datenschutz" required>
          <label for="datenschutz" class="datenschutz-label">Datenschutz</label>
          <p>Ich habe die <a href="/datenschutz" class="link">Datenschutzbestimmungen</a> gelesen und akzeptiere diese.*</p>
          <span class="error-message">Bitte stimmen Sie den Datenschutzbestimmungen zu.</span>
        </div>
      </fieldset>

			<p data="fade-up">* Pflichtfelder</p>
      <span data="fade-up delay">

        <button class="btn btn_red" type="submit" data="fade-up">Formular abschicken</button>

      </span>

    </form>

    </div><!-- .sctn_content -->

    <div id="success-kontakt_berufserfahren" class="sctn_content success hidden">
      <h2 data="fade-up">Vielen Dank!</h2>
      <p class="copy_intro" data="fade-up delay">
        Ihre Nachricht ist angekommen und wir melden uns zeitnah bei Ihnen.
      </p>
    </div>

  </div><!-- .wrapper -->
</section><!-- .contact -->
