<section id="planungsprozess" class="planungsprozess">

  <div class="wrapper">

    <div class="prozess_intro">
      <p data="fade-up" class="topline">Von der ersten Idee bis zum fertigen Garten.</p>
      <h2 data="fade-up delay">Der Planungsprozess</h2>
    </div><!-- .prozess_intro -->

    <div class="prcss">

      <ul data="fade-up" class="phasen">
        <li>
          <span class="phase__name">Bestandsaufnahme</span>
        </li>
        <li>
          <span class="phase__name">Konzeptentwicklung</span>
        </li>
        <li>
          <span class="phase__name">Bauvorbereitung</span>
        </li>
        <li>
          <span class="phase__name">Umsetzung</span>
          </li>
        <li>
          <span class="phase__name">Fertigstellung</span>
        </li>
      </ul><!-- .phasen -->
      <ul data="fade-up delay" class="phasen_stages">
        <li>
          <h1 class="phase__nr">1</h1>
        </li>
        <li>
          <h1 class="phase__nr">2</h1>
        </li>
        <li>
          <h1 class="phase__nr">3</h1>
        </li>
        <li>
          <h1 class="phase__nr">4</h1>
          </li>
        <li>
          <h1 class="phase__nr">5</h1>
        </li>
      </ul><!-- .phasen -->

    </div><!-- .prcss -->

    <p data="fade-up delay" class="timeline">Zeit</p>

    <div data="fade-up" class="phase_detail frty">
			<div class="phase_detail__more">

				<ul class="phase_detail__content">
	        <h4>Bestandsaufnahme</h4>
	        <li>
	          Während der Bestandsaufnahme führen wir mit Ihnen ein Vorgespräch, lernen uns gegenseitig kennen und fixieren das Objekt. Was soll in welchem Umfang angegangen werden? Soll der gesamte Garten neugemacht werden? Oder nur Teile? Sollen Neupflanzung durchgeführt werden? Oder, oder, oder.
	        </li>
	        <li>
	          Wir beraten Sie und schauen gemeinsam, welche Vorlieben Sie bezüglich Form, Farben und Material haben.
	        </li>
	        <li>
	          Wir nehmen Aufmaß und erstellen Fotos.
	        </li>
	        <li>
	          Und natürlich legen wir gemeinsam mit Ihnen die Höhe des Budgets fest.
	        </li>
	      </ul>

	      <ul class="phase_detail__content">
	        <h4>Konzeptentwicklung</h4>
	        <li>
	          Während der Konzeptentwicklung geht es um die räumliche Strukturierung, den Kontext und die Bezüge.
	        </li>
	        <li>
	          Die Planung beginnt. Im ersten Schritt anhand von Handzeichnugen und Skizzen.
	        </li>
	        <li>
	          Gemeinsam sichten wir Beispielfotos von Materialien und Pflanzen.
	        </li>
	        <li>
	          Wir kümmern uns um die Auswahl von Mustersteinen.
	        </li>
	        <li>
	          Basierend auf diesen Punkten bekommen Sie von uns eine konkrete Kostenschätzung.
	        </li>
	      </ul>

	      <ul class="phase_detail__content">
	        <h4>Bauvorbereitung</h4>
	        <li>
	          Nun geht es an die Feinabstimmung: Termine werden festgezurrt und es werden eventuell benötigte behördliche Genehmigungen eingeholt.
	        </li>
	        <li>
	          Zudem holen wir die Trassenpläne ein..
	        </li>
	      </ul>

	      <ul class="phase_detail__content">
	        <h4>Umsetzung</h4>
	        <li>
	          Im Zuge der Umsetzung kümmern wir uns um einen kontinuierlichen Arbeitsaublauf, sowie um behutsames Arbeiten.
	        </li>
	        <li>
	          Wir berücksichtigen die Pflanzzeiten.
	        </li>
	        <li>
	          Während dieser Phase holen wir die vernetzten Gewerke wie Tischler, Klempner, Elektriker, Schmiede, Teichtechniker, u.a. ins Boot.
	        </li>
	      </ul>

	      <ul class="phase_detail__content">
	        <h4>Fertigstellung</h4>
	        <li>
	          Zeit für den letzten Schliff.
	        </li>
	        <li>
	          Aufmaße werden gemacht, sowie die Abrechnung.
	        </li>
	        <li>
	          Und natürlich bekommen Sie von uns noch Hinweise zum Umgang und der Pflege neuer Pflanzen.
	        </li>
	      </ul>

			</div>
			<span id="detail_oc">
				Detailansicht
				<span>
          <svg class="nxt_lvl__arrow">
            <use xlink:href="#nxt_lvl__arrow"></use>
          </svg>
        </span>
			</span>


    </div><!-- .phase_detail -->

  </div><!-- .wrapper -->

</section><!-- .planungsprozess -->
