<section class="projektgalerie_sldr">

  <div class="wrapper">

    <div class="item_1">
      <div>

        <!-- Slider main container -->
        <div class="swiper galerie_swiper sldr">

          <h2 data="fade-up">Projektgalerie</h2>

          <!-- If we need navigation buttons -->
          <div class="swiper-nav">
            <div class="swiper-btn-prev">
              <svg class="next_btn" alt="Previous Slide">
                <use xlink:href="#next_btn"></use>
              </svg>
            </div>

            <div class="swiper-btn-next">
              <svg class="next_btn" alt="Next Slide">
                <use xlink:href="#next_btn"></use>
              </svg>
            </div>
          </div>

          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">

            <!-- Slides -->
            <div class="swiper-slide">

              <a href="/assets/img/galerie_01.png" class="gllry__zoom" data-dimbox="gllry" data-dimbox-caption="Lorem ipsum dolor sit">{% picture "galerie_01.png", "Projekte – Zimmern Garten und Landschaftsbau GmbH" %}</a>
              <p>Lorem ipsum dolor sit</p>

            </div>

            <div class="swiper-slide">

              <a href="/assets/img/galerie_02.png" class="gllry__zoom" data-dimbox="gllry" data-dimbox-caption="Lorem ipsum dolor sit">{% picture "galerie_02.png", "Projekte – Zimmern Garten und Landschaftsbau GmbH" %}</a>
              <p>Cum sociis natoque penatibus</p>

            </div>

            <div class="swiper-slide">

              <a href="/assets/img/galerie_03.png" class="gllry__zoom" data-dimbox="gllry" data-dimbox-caption="Lorem ipsum dolor sit">{% picture "galerie_03.png", "Projekte – Zimmern Garten und Landschaftsbau GmbH" %}</a>
              <p>Donec quam felis</p>

            </div>

            <div class="swiper-slide">

              <a href="/assets/img/galerie_01.png" class="gllry__zoom" data-dimbox="gllry" data-dimbox-caption="Lorem ipsum dolor sit">{% picture "galerie_01.png", "Projekte – Zimmern Garten und Landschaftsbau GmbH" %}</a>
              <p>Lorem ipsum dolor sit</p>

            </div>

            <div class="swiper-slide">

              <a href="/assets/img/galerie_02.png" class="gllry__zoom" data-dimbox="gllry" data-dimbox-caption="Lorem ipsum dolor sit">{% picture "galerie_02.png", "Projekte – Zimmern Garten und Landschaftsbau GmbH" %}</a>
              <p>Cum sociis natoque penatibus</p>

            </div>

            <div class="swiper-slide">

              <a href="/assets/img/galerie_03.png" class="gllry__zoom" data-dimbox="gllry" data-dimbox-caption="Lorem ipsum dolor sit">{% picture "galerie_03.png", "Projekte – Zimmern Garten und Landschaftsbau GmbH" %}</a>
              <p>Donec quam felis</p>

            </div>

            <div class="swiper-slide">

              <a href="/assets/img/galerie_01.png" class="gllry__zoom" data-dimbox="gllry" data-dimbox-caption="Lorem ipsum dolor sit">{% picture "galerie_01.png", "Projekte – Zimmern Garten und Landschaftsbau GmbH" %}</a>
              <p>Lorem ipsum dolor sit</p>

            </div>

            <div class="swiper-slide">

              <a href="/assets/img/galerie_02.png" class="gllry__zoom" data-dimbox="gllry" data-dimbox-caption="Lorem ipsum dolor sit">{% picture "galerie_02.png", "Projekte – Zimmern Garten und Landschaftsbau GmbH" %}</a>
              <p>Cum sociis natoque penatibus</p>

            </div>

            <div class="swiper-slide">

              <a href="/assets/img/galerie_03.png" class="gllry__zoom" data-dimbox="gllry" data-dimbox-caption="Lorem ipsum dolor sit">{% picture "galerie_03.png", "Projekte – Zimmern Garten und Landschaftsbau GmbH" %}</a>
              <p>Donec quam felis</p>

            </div>


          </div>

          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>


        </div>

      </div>
    </div>

    <div class="item_2">
      <div data="fade-up delay">
          <button class="btn btn_red" onclick="location.href='/leistungen'" type="button" data="fade-up">Zur Projektgalerie</button>
      </div>
    </div>

  </div><!-- .wrapper -->

</section>
