<section class="quicklinks">
  <div class="wrapper">

    <p class="topline" data="fade-up">Quicklinks – schnell zu den Themen, die Sie interessieren</p>

    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/'">Baumverpflanzung</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/'">Team</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/'">Gartenplanung</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/'">Baumsanierung</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/'">Ausbildung</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/'">Baumpflege</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/'">Familienbetrieb</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/'">Baumschule</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/'">Historie</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/'">Kugelbäume</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/'">Japanische Gärten</button>

  </div><!-- .wrapper -->
</section>
