<section class="quicklinks">
  <div class="wrapper">

    <p class="topline" data="fade-up">Quicklinks – schnell zu den Themen, die Sie interessieren</p>

    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/baumpflege/'">Baum fällen</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/gartenpflege/'">Nachpflanzung</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/gartenneubau/'">Neupflanzung</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/baumpflege/'">Baumverpflanzung</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/unternehmen/'">Team</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/karriere-ausbildung/'">Ausbildung</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/unternehmen/'">Familienbetrieb</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/unternehmen/'">Historie</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/idee-beratung-planung/'">Umgestaltung</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/gartenneubau/'">Neubau</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/gartenneubau/'">Erd- und Tiefbau</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/baufelderschließung/'">Baufeldräumung</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/idee-beratung-planung/'">Gartenplanung</button>
    <button class="btn btn_ql" type="button" name="button" onclick="location.href='/baumpflege/'">Baumpflege</button>
  </div><!-- .wrapper -->
</section>
