<section class="reasons">

  <div class="wrapper">

    <div class="item_1">
      <div>

        <!-- Slider main container -->
        <div class="swiper reasons_swiper">


          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">

            <!-- Slides -->
            <div class="swiper-slide">

              <div class="item_1">
                <p class="topline">Warum Zimmern?</p>
                <h3>Drei gute Gründe</h3>
                <svg class="reason_1" alt="Next Slide">
                  <use xlink:href="#reason_1"></use>
                </svg>
                <p class="copy svnty">Wir sind spontan. flexibel und in Hamburgs Westen direkt vor Ort.</p>

              </div>

              <div class="item_2">
                <div>
                  {% picture "/startseite/visual_drei_gute_gruende_in_hamburgs_westen.jpg", "Zimmern Garten- und Landschaftsbau GmbH" %}
                </div>
              </div>

            </div>

            <div class="swiper-slide">

              <div class="item_1">
                <p class="topline">Warum Zimmern?</p>
                <h3>Drei gute Gründe</h3>
                <svg class="reason_1" alt="Next Slide">
                  <use xlink:href="#reason_1"></use>
                </svg>
                <p class="copy svnty">Wir sind top ausgerüstet und können mit unserem Maschinenpark alle Arbeiten abdecken.</p>

              </div>

              <div class="item_2">
                <div>
                  {% picture "/startseite/visual_drei_gute_gruende_maschinenpark.jpg", "Zimmern Garten- und Landschaftsbau GmbH" %}
                </div>
              </div>

            </div>

            <div class="swiper-slide">

              <div class="item_1">
                <p class="topline">Warum Zimmern?</p>
                <h3>Drei gute Gründe</h3>
                <svg class="reason_1" alt="Next Slide">
                  <use xlink:href="#reason_1"></use>
                </svg>
                <p class="copy svnty">Wir haben ausgezeichnete Pflanzenkenntnisse und verwenden Pflanzen daher so, wie es für Ihren Garten am besten ist.</p>

              </div>

              <div class="item_2">
                <div>
                  {% picture "/startseite/visual_drei_gute_gruende_pflanzenkenntnisse.jpg", "Zimmern Garten- und Landschaftsbau GmbH" %}
                </div>
              </div>

            </div>

          </div><!-- end.swiper-wrapper -->

          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>


        </div>

      </div>
    </div>



  </div><!-- .wrapper -->

</section>
