<div class="sticky_badge">
  <ul class="sticky_icons">
    <li class="sticky_icons_item">

      <span class="sticky_content_item">
        <button class="btn sticky_btn" onclick="location.href='tel:040815803'" type="button" name="Phone">040 815803</button>
      </span>

      <a href="tel:040815803">
        <svg class="phone" alt="Telefon Icon">
          <use xlink:href="#phone"></use>
        </svg>
      </a>

    </li>
    <li class="sticky_icons_item">

      <span class="sticky_content_item">
        <button class="btn sticky_btn" onclick="location.href='mailto:zimmern@rissen.de'" type="button" name="Message">zimmern@rissen.de</button>
      </span>

      <a href="mailto:zimmern@rissen.de">
        <svg class="mail" alt="Message Icon">
          <use xlink:href="#mail"></use>
        </svg>
      </a>

    </li>
    <li class="sticky_icons_item">

      <span class="sticky_content_item">
        <button class="btn sticky_btn" onclick="window.open('https://goo.gl/maps/pgA5dHxSkeE53No49')" type="button" name="Message" target="_blank" rel="noopener noreferrer">zum Routenplaner</button>
      </span>

      <a href="https://goo.gl/maps/pgA5dHxSkeE53No49" target="_blank" rel="noopener noreferrer">
        <svg class="route" alt="Route Icon">
          <use xlink:href="#route"></use>
        </svg>
      </a>

    </li>
  </ul>
</div>
